@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-ThinItalic.eot");
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("../fonts/Lato/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-ThinItalic.woff") format("woff"), url("../fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Thin.eot");
  src: local("Lato Thin"), local("Lato-Thin"), url("../fonts/Lato/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Thin.woff") format("woff"), url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-LightItalic.eot");
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../fonts/Lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-LightItalic.woff") format("woff"), url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Light.eot");
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Italic.eot");
  src: local("Lato Italic"), local("Lato-Italic"), url("../fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Italic.woff") format("woff"), url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-MediumItalic.eot");
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("../fonts/Lato/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-MediumItalic.woff") format("woff"), url("../fonts/Lato/Lato-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Medium.eot");
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/Lato/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Medium.woff") format("woff"), url("../fonts/Lato/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Semibold.eot");
  src: local("Lato Semibold"), local("Lato-Semibold"), url("../fonts/Lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Semibold.woff") format("woff"), url("../fonts/Lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-SemiboldItalic.eot");
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("../fonts/Lato/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-SemiboldItalic.woff") format("woff"), url("../fonts/Lato/Lato-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BoldItalic.eot");
  src: local("../fonts/Lato/Lato Bold Italic"), local("Lato-BoldItalic"), url("../fonts/Lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Black.eot");
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Black.woff") format("woff"), url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-BlackItalic.eot");
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../fonts/Lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-BlackItalic.woff") format("woff"), url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 -8px 10px -8px; }
  .breadcrumb:before, .breadcrumb:after {
    content: " ";
    display: table; }
  .breadcrumb:after {
    clear: both; }
  .breadcrumb > li {
    color: #aaa;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 0 8px 10px 8px; }
    .breadcrumb > li > a {
      color: #383155;
      text-decoration: none; }
      .breadcrumb > li > a:hover {
        text-decoration: underline; }

.btn {
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 14px;
  padding: 13px 25px 11px 25px;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #383155;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 1.95px;
  text-transform: uppercase;
  border: 1px solid #383155;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    color: #fff;
    background: #554e72;
    border-color: #554e72; }
  .btn:focus, .btn.focus {
    outline: 0; }
  .btn:active {
    background: #40395d;
    border-color: #40395d; }
  .btn i {
    width: 19px;
    height: 12px;
    margin-top: 2px;
    margin-left: 25px;
    display: inline-block; }

.btn-md {
  padding: 17px 20px 13px 20px; }

.btn-border {
  color: #383155;
  background: #fff;
  letter-spacing: 1.95px;
  border-color: #d6dce6; }
  .btn-border:hover {
    color: #383155;
    background: #d6dce6;
    border-color: #d6dce6; }
  .btn-border:active {
    color: #383155;
    background: #c1cad9;
    border-color: #c1cad9; }

.btn-callback {
  color: #383155;
  outline: none;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.55px;
  text-transform: uppercase;
  border: 1px solid #d6dce6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn-callback:hover {
    color: #fff;
    background: #383155;
    border-color: #383155;
    text-decoration: none; }

.btn-send {
  text-align: left;
  position: relative;
  padding: 14px 20px 16px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .btn-send i {
    margin: 1px 0 0 0; }
    .btn-send i .ico-svg {
      fill: #fff; }

.btn-arrow {
  min-width: 220px;
  padding: 17px 20px 13px 20px;
  position: relative;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  .btn-arrow i {
    margin-top: -2px; }

.button-group {
  padding: 0;
  margin: 10px -10px 0 -10px;
  list-style: none; }
  .button-group > li {
    padding: 0 10px;
    margin-bottom: 20px; }
  @media (min-width: 768px) {
    .button-group > li {
      float: left;
      margin-top: 0;
      margin-bottom: 0; } }

.form-control {
  margin: 0;
  width: 100%;
  color: #aaa;
  outline: none;
  font-size: 15px;
  line-height: 20px;
  padding: 14px 20px;
  display: inline-block;
  background: transparent;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .form-control::-moz-placeholder {
    color: #aaa;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #aaa; }
  .form-control::-webkit-input-placeholder {
    color: #aaa; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:hover {
    border-color: #d6dce6; }
  .form-control:focus {
    color: #313131;
    background: #fff;
    border-color: #c1cad9; }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }
  .form-control.error {
    color: #da1308;
    border-color: #da1308; }

.form-select {
  margin: 0;
  width: 100%;
  color: #aaa;
  outline: none;
  font-size: 15px;
  line-height: 20px;
  padding: 14px 20px;
  display: inline-block;
  background: transparent url("../img/select_arrow.png") 100% 50% no-repeat;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important; }
  .form-select::-moz-placeholder {
    color: #aaa;
    opacity: 1; }
  .form-select:-ms-input-placeholder {
    color: #aaa; }
  .form-select::-webkit-input-placeholder {
    color: #aaa; }
  .form-select::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-select:hover {
    border-color: #d6dce6; }
  .form-select:focus {
    color: #313131;
    border-color: #c1cad9; }
    .form-select:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-select:focus:-ms-input-placeholder {
      color: transparent; }
    .form-select:focus::-webkit-input-placeholder {
      color: transparent; }

.form-group {
  margin-bottom: 10px; }

.input-wrap {
  position: relative; }
  .input-wrap.focus .input-placeholder {
    opacity: 0;
    visibility: hidden; }
  .input-wrap .input-placeholder {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    color: #aaa;
    font-size: 15px;
    background: #fff;
    line-height: 20px;
    padding: 15px 21px;
    position: absolute;
    display: inline-block; }
    .input-wrap .input-placeholder i {
      color: #c10e0e;
      font-style: normal; }
  .input-wrap input,
  .input-wrap select,
  .input-wrap textarea {
    z-index: 10;
    position: relative; }

.form-row {
  margin: 0 -5px; }
  .form-row:before, .form-row:after {
    content: " ";
    display: table; }
  .form-row:after {
    clear: both; }
  .form-row .form-col {
    width: 50%;
    float: left;
    padding: 0 5px; }

.file-label {
  color: #fff;
  font-size: 0;
  line-height: 0;
  padding: 17px 70px 13px 25px;
  outline: none;
  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #383155;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 1.95px;
  position: relative;
  text-transform: uppercase;
  border: 1px solid #383155;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .file-label:hover {
    color: #fff;
    background: #554e72;
    border-color: #554e72; }
  .file-label:focus, .file-label.focus {
    outline: 0; }
  .file-label:active {
    background: #40395d;
    border-color: #40395d; }
  .file-label input[type='file'] {
    display: none; }
  .file-label span {
    max-width: 161px;
    width: 161px;
    font-size: 13px;
    font-weight: 900;
    line-height: 14px;
    display: inline-block;
    overflow: hidden; }
  .file-label i {
    top: 15px;
    right: 18px;
    width: 16px;
    height: 18px;
    position: absolute;
    display: inline-block; }
  .file-label .ico-svg {
    fill: #fff; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: inherit;
  position: relative;
  color: #666;
  font-family: "Lato", Arial, sans-serif;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 620px;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 992px) {
    .container {
      width: 920px; } }
  @media (min-width: 1250px) {
    .container {
      width: 1220px; } }
  @media (min-width: 1250px) {
    .container {
      width: 1220px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Lato", Arial, sans-serif;
  line-height: 1.2; }

h1, .h1 {
  color: #454545;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.875rem;
  margin-bottom: 40px; }

h2, .h2 {
  color: #000;
  font-weight: 700;
  padding-top: 10px;
  font-size: 1.5625rem;
  line-height: 1.875rem;
  margin-bottom: 1.5625rem; }

h3, .h3 {
  font-weight: 600;
  padding-top: 10px;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  margin-bottom: 1.25rem; }

h4, .h4 {
  color: #000;
  font-weight: 900;
  font-size: 0.8125rem;
  margin-bottom: 1.25rem;
  text-transform: uppercase; }
  h4 a, .h4 a {
    text-decoration: underline; }
    h4 a:hover, .h4 a:hover {
      color: #383155;
      text-decoration: none; }

h5, .h5 {
  font-size: 1rem;
  margin-bottom: 1rem; }

h6, .h6 {
  font-size: 0.875rem;
  margin-bottom: 0.75rem; }

p {
  margin: 0 0 1.5625rem 0; }

a {
  outline: none;
  color: #383155;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.list-base {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none; }
  .list-base > li {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px; }
    .list-base > li:before {
      top: 9px;
      left: 3px;
      content: '';
      width: 12px;
      height: 1px;
      background: #ccc;
      position: absolute; }

.list-point {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none; }
  .list-point > li {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px; }
    .list-point > li:before {
      top: 7px;
      left: 0;
      content: '';
      width: 4px;
      height: 4px;
      background: #ccc;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }

.list-disk {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none; }
  .list-disk > li {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px; }
    .list-disk > li:before {
      top: 6px;
      left: 0;
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      border: 1px solid #464061;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }

.views {
  color: #383155;
  font-size: 11px;
  font-weight: 600;
  line-height: 13px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #383155; }
  .views:hover {
    color: #383155;
    border-bottom-color: transparent; }
  .views:active {
    color: #000; }

.share__title {
  color: #000;
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
  font-style: italic; }
.share__items {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none; }
  .share__items > li {
    margin-right: 5px;
    display: inline-block; }
    .share__items > li:last-child {
      margin-right: 0; }
    .share__items > li > a {
      width: 40px;
      height: 40px;
      padding: 10px 0;
      font-size: 18px;
      line-height: 18px;
      text-align: center;
      display: inline-block;
      text-decoration: none;
      border: 1px solid #d7dde7;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .share__items > li > a:hover {
        background: #d6dce6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .share__items > li > a:active {
        background: #c1cad9; }
@media (min-width: 768px) {
  .share {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
    .share__title {
      margin: auto 20px auto 0; } }

blockquote {
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
  padding: 0 0 0 30px;
  margin: 0 0 30px 0;
  border-left: 3px solid #383155; }

.header {
  z-index: 999; }
  .header__wrap {
    width: 280px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .header__logo {
    width: 56px;
    font-size: 0;
    line-height: 0;
    margin: auto 0;
    display: inline-block; }
  .header__contact {
    padding: 0;
    margin: auto 0;
    text-align: center;
    list-style: none; }
    .header__contact > li:first-child {
      white-space: nowrap;
      margin-bottom: 2px; }
    .header__contact .tel {
      color: #383155;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      text-decoration: navajowhite; }
  .header__toggle {
    z-index: 300;
    width: 44px;
    height: 44px;
    font-size: 0;
    line-height: 0;
    margin: auto 0;
    position: relative;
    text-align: center;
    padding: 15px 13px 10px 13px;
    display: inline-block;
    border: 1px solid #d6dce6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header__toggle span {
      width: 100%;
      height: 2px;
      margin-bottom: 3px;
      background: #383155;
      position: relative;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .header__toggle span:last-child {
        margin-bottom: 0; }
  .header__nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 250;
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: rgba(51, 51, 51, 0.5);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header__nav:before {
      top: 0;
      z-index: 10;
      right: 0;
      left: 50%;
      bottom: 0;
      content: '';
      display: block;
      position: absolute;
      background: white;
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .header__nav_bg {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      z-index: 200;
      opacity: 0;
      visibility: hidden;
      position: absolute; }
    .header__nav_appointment {
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 10px;
      font-weight: 900;
      line-height: 19px;
      padding: 3px 10px;
      user-select: none;
      text-align: center;
      white-space: nowrap;
      background: #383155;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .header__nav_appointment:hover {
        color: #fff;
        background: #554e72;
        border-color: #554e72; }
      .header__nav_appointment:focus, .header__nav_appointment.focus {
        outline: 0; }
      .header__nav_appointment:active {
        background: #40395d;
        border-color: #40395d; }
    .header__nav > ul {
      width: 280px;
      margin: 0 auto;
      font-size: 0;
      line-height: 0;
      height: 100%;
      z-index: 300;
      position: inherit;
      padding: 30px 20px 20px 60px;
      background: white;
      -webkit-transform: translateX(800px);
      transform: translateX(800px);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      .header__nav > ul > li {
        text-align: left;
        position: relative;
        margin-bottom: 20px; }
        .header__nav > ul > li:first-child {
          margin-bottom: 50px; }
          .header__nav > ul > li:first-child a {
            color: #fff;
            font-size: 10px;
            line-height: 19px;
            font-weight: 600;
            letter-spacing: normal; }
        .header__nav > ul > li > a {
          padding: 5px 10px;
          color: #454545;
          font-size: 15px;
          list-style: none;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.55px;
          text-decoration: none;
          display: inline-block; }
        .header__nav > ul > li > i {
          top: 3px;
          left: -24px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          position: absolute;
          display: inline-block;
          border: 1px solid #d8dee7;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .header__nav > ul > li > i:after, .header__nav > ul > li > i:before {
            top: 50%;
            left: 50%;
            content: '';
            width: 10px;
            height: 2px;
            position: absolute;
            background: #383155;
            margin: -1px 0 0 -5px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
          .header__nav > ul > li > i:after {
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg); }
        .header__nav > ul > li.open > i:before {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .header__nav > ul > li.open > i:after {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .header__nav > ul > li.open .dropdown {
          display: block; }
    .header__nav .dropdown {
      display: none;
      list-style: none;
      position: relative;
      margin: 10px 0 0 0;
      background: #f1f2f4;
      padding: 15px 10px 15px 20px; }
      .header__nav .dropdown:before {
        top: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        left: -60px;
        right: -800px;
        position: absolute;
        background: #f1f2f4; }
      .header__nav .dropdown > li {
        z-index: 10;
        margin-bottom: 10px;
        position: relative; }
        .header__nav .dropdown > li:last-child {
          margin-bottom: 0; }
        .header__nav .dropdown > li > a {
          color: #383155;
          font-size: 11px;
          font-weight: 600;
          line-height: 15px;
          padding: 5px 10px;
          display: inline-block;
          text-transform: uppercase;
          text-decoration: underline; }
        .header__nav .dropdown > li > ul {
          margin: 0;
          display: none;
          padding: 10px 0;
          list-style: none; }
          .header__nav .dropdown > li > ul > li {
            font-size: 13px;
            line-height: 25px; }
            .header__nav .dropdown > li > ul > li > a {
              color: #383155;
              position: relative;
              padding-left: 25px;
              text-decoration: underline; }
              .header__nav .dropdown > li > ul > li > a:before {
                left: 0;
                top: 50%;
                content: '';
                width: 12px;
                height: 1px;
                background: #ccc;
                display: inline-block;
                position: absolute; }
              .header__nav .dropdown > li > ul > li > a:hover {
                text-decoration: none; }
  .header.openNav .header__toggle span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header.openNav .header__toggle span:nth-child(1) {
      top: 5px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header.openNav .header__toggle span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .header.openNav .header__toggle span:nth-child(2) {
      display: none; }
  .header.openNav .header__nav {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .header.openNav .header__nav:before {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .header.openNav .header__nav > ul {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  @media (min-width: 768px) {
    .header__wrap {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px; }
    .header__logo {
      width: 100px;
      display: block; }
    .header__contact:before, .header__contact:after {
      content: " ";
      display: table; }
    .header__contact:after {
      clear: both; }
    .header__contact > li {
      float: left; }
      .header__contact > li:first-child {
        margin: 0 20px 0 0; }
    .header__contact .tel {
      font-size: 18px;
      line-height: 26px; }
    .header__nav > ul {
      width: 320px;
      left: 130px; } }
  @media (min-width: 992px) {
    .header__wrap {
      padding-top: 40px;
      padding-bottom: 40px; }
    .header__nav:before {
      left: 80%; }
    .header__nav > ul {
      left: 280px; } }
  @media (min-width: 1250px) {
    .header.drop:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      content: '';
      display: block;
      position: absolute;
      background: rgba(102, 102, 102, 0.4); }
    .header__contact > li {
      float: none;
      text-align: right; }
      .header__contact > li:first-child {
        margin: 0; }
    .header__contact .tel {
      font-size: 18px;
      line-height: 26px; }
    .header__toggle {
      display: none; }
    .header__nav {
      top: auto;
      left: auto;
      right: auto;
      opacity: 1;
      display: block;
      overflow: inherit;
      position: static;
      border-bottom: none;
      visibility: visible;
      background: transparent;
      margin: auto; }
      .header__nav:before, .header__nav:after {
        content: " ";
        display: table; }
      .header__nav:after {
        clear: both; }
      .header__nav:before {
        display: none; }
      .header__nav > ul {
        left: 0;
        padding: 0;
        width: auto;
        margin: 0 -17px;
        position: inherit;
        text-transform: inherit;
        background: transparent;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: 0;
        -o-transition: 0;
        transition: 0; }
        .header__nav > ul > li {
          z-index: 10;
          text-align: left;
          display: inline-block;
          position: relative;
          padding: 0 7px;
          margin-bottom: 0; }
          .header__nav > ul > li:first-child {
            display: none; }
          .header__nav > ul > li > i {
            display: none; }
          .header__nav > ul > li > a {
            color: #454545;
            font-size: 15px;
            list-style: none;
            font-weight: 900;
            line-height: 20px;
            text-decoration: none; }
            .header__nav > ul > li > a:hover {
              background: #f1f2f4;
              text-decoration: none; }
          .header__nav > ul > li.active > a {
            color: #000; }
          .header__nav > ul > li.open .dropdown {
            display: none; }
          .header__nav > ul > li.dropnav:hover > a {
            background: #fff; }
          .header__nav > ul > li.dropnav:hover .dropdown {
            display: block; }
      .header__nav .dropdown {
        top: 100%;
        margin: 0;
        left: -15px;
        padding: 20px 35px;
        width: 300px;
        position: absolute;
        background: #fff; }
        .header__nav .dropdown:before {
          display: none; }
        .header__nav .dropdown > li {
          margin-bottom: 10px; }
          .header__nav .dropdown > li > a {
            width: auto;
            padding: 0;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            display: inline-block;
            text-decoration: none;
            white-space: nowrap;
            border-bottom: 1px solid #383155; }
            .header__nav .dropdown > li > a:hover {
              border-bottom-color: transparent; }
          .header__nav .dropdown > li > ul {
            display: block; }
    .header__wrap {
      position: relative; }
    .header.header_home .header__logo {
      left: 0;
      top: 40px;
      width: 240px;
      position: absolute; }
    .header.header_home .header__nav {
      margin: auto 0 auto 300px; } }

.page {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-bottom: 60px; }
  @media (min-width: 992px) {
    .main {
      padding-bottom: 80px; } }

.content {
  max-width: 700px; }
  .content .news__date {
    margin-bottom: 10px; }
  @media (min-width: 768px) {
    .content__row {
      margin: 0 -20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
    .content__col {
      width: 50%;
      padding: 0 20px; } }
  @media (min-width: 1250px) {
    .content {
      margin-left: 225px; } }

.wrap {
  width: 280px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .wrap {
      width: 100%; } }

.heading {
  margin-bottom: 30px; }
  .heading:before, .heading:after {
    content: " ";
    display: table; }
  .heading:after {
    clear: both; }
  .heading strong {
    float: left;
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 20px;
    display: inline-block; }
  .heading a {
    float: left;
    color: #000;
    font-size: 11px;
    line-height: 20px;
    margin-top: 5px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline; }
    .heading a:hover {
      text-decoration: none; }

.formBox__title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px; }
.formBox__subtitle {
  color: #666;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px; }
.formBox__text {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.3px; }
.formBox .btn {
  width: 100%;
  margin-top: 10px; }

.slide-nav {
  top: 50%;
  z-index: 10;
  width: 40px;
  height: 40px;
  color: #ffffff;
  padding: 12px 0;
  font-size: 16px;
  line-height: 16px;
  margin-top: -20px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  display: inline-block;
  background-color: #383155;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .slide-nav:hover {
    background-color: #554e72;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .slide-nav:active {
    background-color: #40395d; }
  .slide-nav.prev {
    left: -20px; }
  .slide-nav.next {
    right: -20px; }

.jumbotron {
  margin: 0 -15px 40px -15px; }
  .jumbotron:before, .jumbotron:after {
    content: " ";
    display: table; }
  .jumbotron:after {
    clear: both; }
  .jumbotron__contact {
    display: none; }
  .jumbotron__info {
    margin: 0;
    padding: 0;
    list-style: none; }
    .jumbotron__info li {
      color: #666;
      font-size: 15px;
      line-height: 20px;
      position: relative;
      font-style: italic;
      margin-bottom: 5px;
      padding: 2px 0 2px 30px; }
      .jumbotron__info li i {
        left: 0;
        top: 50%;
        position: absolute;
        display: inline-block; }
        .jumbotron__info li i .ico-svg {
          fill: #aebace; }
      .jumbotron__info li:first-child i {
        height: 24px;
        margin-top: -12px; }
      .jumbotron__info li:last-child i {
        height: 20px;
        margin-top: -10px; }
        .jumbotron__info li:last-child i .ico-svg {
          transform: translate(-91 -612); }
  .jumbotron .formBox {
    margin-bottom: 50px; }
  @media (min-width: 992px) {
    .jumbotron {
      margin: 0 0 60px 0; } }
  @media (min-width: 1250px) {
    .jumbotron__contact {
      float: left;
      display: block;
      width: 240px;
      padding-top: 150px; }
    .jumbotron__slider {
      float: right;
      width: 880px; } }

.baseSlider {
  position: relative; }
  .baseSlider__item {
    border: none;
    outline: none; }
    .baseSlider__item a {
      display: block; }
    .baseSlider__item img {
      display: block; }
  .baseSlider .slick-dots {
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 10;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center;
    position: absolute; }
    .baseSlider .slick-dots li {
      padding: 0 5px;
      display: inline-block; }
      .baseSlider .slick-dots li button {
        margin: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        border: none;
        outline: none;
        position: relative;
        background: #383155;
        display: inline-block;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
        .baseSlider .slick-dots li button:before {
          top: 2px;
          left: 2px;
          width: 6px;
          height: 6px;
          content: '';
          background: #383155;
          display: inline-block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
      .baseSlider .slick-dots li.slick-active button {
        background: transparent; }

.advantage {
  color: #666666;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 25px; }
  .advantage__item {
    margin-bottom: 55px; }
  .advantage__image {
    height: 67px;
    font-size: 0;
    line-height: 0;
    margin-bottom: 20px;
    display: inline-block; }
    .advantage__image .ico-svg {
      fill: #aebace; }
  .advantage__heading {
    color: #000;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  @media (min-width: 768px) {
    .advantage {
      padding-bottom: 80px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .advantage__item {
        width: 175px;
        margin-bottom: 0; } }
  @media (min-width: 992px) {
    .advantage {
      margin: 0; }
      .advantage__item {
        width: 280px; } }
  @media (min-width: 1250px) {
    .advantage__item {
      width: 340px;
      min-height: 70px;
      position: relative;
      padding-left: 100px; }
      .advantage__item:nth-child(2) {
        width: 380px; }
    .advantage__image {
      top: 0;
      left: 0;
      width: 100px;
      margin-bottom: 0;
      position: absolute; } }

.preview {
  margin-bottom: 70px; }
  .preview .heading {
    width: 100%;
    margin-bottom: 40px; }
  .preview__article {
    padding-bottom: 20px; }
  .preview__news_image {
    display: none; }
  @media (min-width: 768px) {
    .preview__article {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .preview__article .preview__title {
        width: 100%; } }
  @media (min-width: 992px) {
    .preview {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .preview__article {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      .preview__news {
        width: 270px; } }
  @media (min-width: 1250px) {
    .preview {
      margin-bottom: 40px; }
      .preview__article {
        margin-bottom: 0;
        padding-right: 40px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .preview__news {
        width: 620px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
        .preview__news_image {
          width: 260px;
          display: block; }
        .preview__news_content {
          width: 270px; } }

.articleItem {
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px; }
  .articleItem__title {
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
    .articleItem__title a {
      color: #000;
      text-decoration: none; }
  .articleItem__text {
    margin-bottom: 25px; }
  .articleItem__link {
    text-align: right; }
    .articleItem__link a {
      color: #383155;
      font-size: 11px;
      font-weight: 600;
      line-height: 15px;
      text-decoration: underline;
      text-transform: uppercase; }
      .articleItem__link a:hover {
        text-decoration: none; }
  @media (min-width: 768px) {
    .articleItem {
      width: 50%;
      margin-bottom: 60px;
      padding-right: 70px; } }
  @media (min-width: 992px) {
    .articleItem {
      margin-bottom: 0; } }
  @media (min-width: 1250px) {
    .articleItem {
      margin-bottom: 0;
      width: 220px;
      padding: 0; } }

.newsItem {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #f0f1f3; }
  .newsItem:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
  .newsItem .newsItem__title {
    color: #383155;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    margin-bottom: 10px;
    text-decoration: underline; }
    .newsItem .newsItem__title a {
      color: #383155; }
  .newsItem__date {
    color: #666666;
    font-size: 13px;
    font-style: italic;
    line-height: 15px; }
  @media (min-width: 768px) {
    .newsItem {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
      width: 50%;
      float: left;
      padding-right: 20px; } }
  @media (min-width: 992px) {
    .newsItem {
      width: 100%;
      padding-right: 0;
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #f0f1f3; }
      .newsItem:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none; } }

.services {
  margin-bottom: 40px; }
  .services h2 {
    margin-bottom: 15px; }
  .services__list {
    padding: 0;
    margin: 0 -10px;
    list-style: none; }
    .services__list:before, .services__list:after {
      content: " ";
      display: table; }
    .services__list:after {
      clear: both; }
    .services__list li {
      padding: 0 10px;
      margin-bottom: 20px; }
    .services__list a {
      display: block;
      color: #383155;
      overflow: hidden;
      position: relative;
      text-decoration: none; }
      .services__list a:hover img {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .services__list img {
      display: block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .services__name {
    right: 20px;
    bottom: 17px;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    position: absolute;
    padding-right: 20px;
    text-align: right;
    max-width: 260px;
    letter-spacing: 0.97px;
    text-transform: uppercase; }
    .services__name i {
      right: 0;
      bottom: 5px;
      font-size: 14px;
      line-height: 14px;
      position: absolute; }
  @media (min-width: 768px) {
    .services {
      margin-bottom: 70px; }
      .services__list li {
        width: 50%;
        float: left;
        margin-bottom: 0; }
      .services__name {
        max-width: inherit; } }

.user {
  margin-bottom: 60px; }
  .user__slider {
    margin: 0 40px;
    position: relative; }
    .user__slider .slide-nav.prev {
      left: -40px; }
    .user__slider .slide-nav.next {
      right: -40px; }
  .user__item {
    border: none;
    outline: none;
    text-align: center; }
  .user__image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0 auto 25px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .user__image img {
      display: block; }
  .user__name {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px; }
  .user__skills {
    color: #666;
    font-size: 15px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 15px; }
  .user__review {
    color: #383155;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px; }
    .user__review a {
      color: #383155;
      text-decoration: underline; }
      .user__review a:hover {
        text-decoration: none; }
  @media (min-width: 768px) {
    .user__title strong {
      float: left;
      margin-bottom: 0;
      display: inline-block; }
    .user__title span {
      float: left; }
    .user__slider {
      margin: 0 20px; }
      .user__slider .slide-nav.prev {
        left: -40px; }
      .user__slider .slide-nav.next {
        right: -40px; } }
  @media (min-width: 992px) {
    .user__heading {
      margin-bottom: 10px; }
    .user__title {
      margin-bottom: 50px; }
      .user__title strong {
        float: left; }
      .user__title span {
        float: left; }
    .user__slider {
      margin: 0 20px;
      position: relative; }
    .user__item {
      padding: 15px; }
    .user__box {
      width: 240px;
      margin: 0 auto;
      background: #fff;
      padding: 20px 25px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .user__box:hover {
        z-index: 10;
        -webkit-box-shadow: -4px 3px 15px 0px rgba(0, 0, 0, 0.25);
        box-shadow: -4px 3px 15px 0px rgba(0, 0, 0, 0.25);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; } }
  @media (min-width: 1250px) {
    .user__slider {
      margin: 0 60px; }
      .user__slider .slide-nav.prev {
        left: -80px; }
      .user__slider .slide-nav.next {
        right: -80px; } }

.miniGallery {
  margin-bottom: 60px; }
  .miniGallery .heading {
    margin-bottom: 20px; }
    .miniGallery .heading:before, .miniGallery .heading:after {
      content: " ";
      display: table; }
    .miniGallery .heading:after {
      clear: both; }
  .miniGallery__slider {
    margin: 0 -10px;
    position: relative; }
    .miniGallery__slider .slide-nav.prev {
      left: -10px; }
    .miniGallery__slider .slide-nav.next {
      right: -10px; }
  .miniGallery__item {
    border: none;
    outline: none;
    padding: 0 10px; }
  .miniGallery a {
    display: block;
    overflow: hidden; }
    .miniGallery a:hover img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .miniGallery img {
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  @media (min-width: 768px) {
    .miniGallery__title {
      margin-bottom: 35px; }
      .miniGallery__title strong {
        float: left;
        margin-bottom: 0;
        display: inline-block; }
      .miniGallery__title span {
        float: left; } }

.modal {
  width: 280px;
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .modal__title {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px; }
  .modal__text {
    color: #666;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px; }
  .modal__bottom {
    color: #aaa;
    font-size: 12px;
    line-height: 15px; }
  .modal__close {
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    outline: none;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    background: transparent;
    border: 1px solid #d6dce6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .modal__close:after, .modal__close:before {
      top: 50%;
      left: 50%;
      content: '';
      z-index: 10;
      width: 16px;
      height: 2px;
      position: absolute;
      background: #383155;
      display: inline-block;
      margin: -1px 0 0 -8px; }
    .modal__close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .modal__close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .modal__close:hover {
      background: #d6dce6; }
  .modal .btn {
    width: 100%;
    margin-top: 10px; }

.contacts:before, .contacts:after {
  content: " ";
  display: table; }
.contacts:after {
  clear: both; }
.contacts__map {
  height: 400px;
  position: relative; }
.contacts #map {
  width: 100%;
  height: 100%; }
.contacts__form {
  padding: 60px 0 0 0;
  width: 280px;
  margin: 0 auto; }
@media (min-width: 768px) {
  .contacts {
    width: 620px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; } }
@media (min-width: 992px) {
  .contacts {
    width: 920px; }
    .contacts__map {
      width: 540px;
      float: left; }
    .contacts__form {
      margin: 0;
      float: right;
      padding: 25px 0 0 0; } }
@media (min-width: 1250px) {
  .contacts {
    width: 1220px; }
    .contacts__map {
      width: 640px; }
    .contacts__form {
      margin-right: 60px; } }

.gallery__item {
  margin-bottom: 20px; }
.gallery a {
  display: block;
  overflow: hidden; }
  .gallery a:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
.gallery img {
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
@media (min-width: 768px) {
  .gallery {
    margin: 0 -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery__item {
      width: 50%;
      padding: 0 10px; } }
  @media (min-width: 768px) and (min-width: 992px) {
    .gallery__item {
      width: 33.33%; } }

.contactBox {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 280px;
  height: 216px;
  background: #fff;
  position: absolute;
  padding: 40px 30px;
  margin: -108px 0 0 -140px; }
  .contactBox__close {
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    background: transparent;
    border: 1px solid #d8dee7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .contactBox__close:after, .contactBox__close:before {
      top: 50%;
      left: 50%;
      content: '';
      z-index: 10;
      width: 10px;
      height: 2px;
      position: absolute;
      background: #383155;
      display: inline-block;
      margin: -1px 0 0 -5px; }
    .contactBox__close:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .contactBox__close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .contactBox__close:hover {
      background: #d6dce6; }
  .contactBox__info {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none; }
    .contactBox__info li {
      color: #666;
      font-size: 15px;
      line-height: 20px;
      position: relative;
      font-style: italic;
      margin-bottom: 5px;
      padding: 2px 0 2px 30px; }
      .contactBox__info li i {
        left: 0;
        top: 50%;
        position: absolute;
        display: inline-block; }
        .contactBox__info li i .ico-svg {
          fill: #aebace; }
      .contactBox__info li:first-child i {
        height: 24px;
        margin-top: -12px; }
      .contactBox__info li:last-child i {
        height: 20px;
        margin-top: -10px; }
        .contactBox__info li:last-child i .ico-svg {
          transform: translate(-91 -612); }
  .contactBox__contact {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    list-style: none; }
    .contactBox__contact > li:first-child {
      white-space: nowrap;
      margin-bottom: 2px; }
    .contactBox__contact .tel {
      color: #383155;
      font-size: 14px;
      font-weight: 900;
      line-height: 20px;
      text-decoration: navajowhite; }

.docs {
  margin: 0;
  padding: 0;
  list-style: none; }
  .docs li {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px; }
    .docs li a {
      color: #383155;
      min-height: 50px;
      padding-top: 10px;
      padding-left: 60px;
      display: inline-block;
      text-decoration: none;
      background: url("../img/icon_pdf.png") 0 0 no-repeat; }
      .docs li a span {
        border-bottom: 1px dashed #383155; }
      .docs li a:hover span {
        border-bottom-color: transparent; }

.doctor {
  position: relative;
  margin: 30px 0 40px 0; }
  .doctor__heading {
    margin-bottom: 25px; }
    .doctor__heading h1 {
      margin-bottom: 5px; }
    .doctor__heading i {
      color: #666;
      font-size: 15px;
      line-height: 20px; }
  .doctor__photo {
    width: 240px;
    overflow: hidden;
    margin-bottom: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .doctor__box {
    padding-bottom: 25px; }
  @media (min-width: 768px) {
    .doctor {
      min-height: 240px;
      margin-top: 40px;
      padding-left: 270px; }
      .doctor__photo {
        top: 0;
        left: 0;
        margin-bottom: 0;
        position: absolute; } }
  @media (min-width: 992px) {
    .doctor {
      padding-left: 300px; } }

.news {
  max-width: 700px;
  margin-bottom: 40px; }
  .news:last-child {
    margin-bottom: 0; }
  .news__date {
    color: #666;
    font-size: 13px;
    line-height: 25px;
    font-style: italic; }
  .news__heading {
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    margin-bottom: 10px; }
    .news__heading a {
      color: #383155;
      text-decoration: underline; }
      .news__heading a:hover {
        text-decoration: none; }
  .news__intro {
    color: #666;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 5px; }
  @media (min-width: 768px) {
    .news {
      margin-bottom: 50px; } }

.appointment {
  padding: 20px;
  background: #edeef0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .appointment .btn {
    width: 100%; }
  @media (min-width: 768px) {
    .appointment__row {
      margin: 0 -10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .appointment__column {
      width: 33.33%;
      padding: 0 10px; }
    .appointment .form-group {
      margin-bottom: 0; } }

.imageBox {
  display: block;
  margin-bottom: 30px; }

.vacancies {
  padding: 0;
  margin: 0 -10px;
  list-style: none; }
  .vacancies:before, .vacancies:after {
    content: " ";
    display: table; }
  .vacancies:after {
    clear: both; }
  .vacancies li {
    padding: 0 10px;
    margin-bottom: 20px; }
  .vacancies a {
    display: block;
    color: #383155;
    position: relative;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .vacancies a:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      content: '';
      display: block;
      position: absolute;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 99%, rgba(255, 255, 255, 0.9) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 99%, rgba(255, 255, 255, 0.9) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 99%, rgba(255, 255, 255, 0.9) 100%); }
    .vacancies a:hover {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .vacancies a:hover:before {
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 99%, rgba(255, 255, 255, 0.9) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 99%, rgba(255, 255, 255, 0.9) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.7) 99%, rgba(255, 255, 255, 0.9) 100%); }
  .vacancies img {
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .vacancies__name {
    z-index: 20;
    left: 20px;
    bottom: 17px;
    font-size: 13px;
    font-weight: 900;
    line-height: 20px;
    position: absolute;
    padding-right: 20px;
    text-align: right;
    max-width: 260px;
    letter-spacing: 0.97px;
    text-transform: uppercase; }
    .vacancies__name i {
      right: 0;
      bottom: 5px;
      font-size: 14px;
      line-height: 14px;
      position: absolute; }
  @media (min-width: 768px) {
    .vacancies li {
      width: 50%;
      float: left; }
    .vacancies__name {
      max-width: inherit; } }

.vacancy table {
  margin-bottom: 30px; }
  .vacancy table td {
    font-size: 15px;
    line-height: 30px;
    padding-right: 30px; }
    .vacancy table td:first-child {
      color: #999; }
    .vacancy table td:last-child {
      color: #333; }

.direction__item {
  width: 270px;
  margin-bottom: 40px; }
  .direction__item.long {
    width: 100%; }
.direction__number {
  color: #ced2d9;
  font-size: 30px;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 10px; }
.direction__text {
  font-size: 15px;
  line-height: 25px; }
@media (min-width: 768px) {
  .direction {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; } }
@media (min-width: 992px) {
  .direction__item {
    width: 300px; } }

.tile {
  margin-bottom: 30px; }
  .tile h2 {
    margin-bottom: 0; }
  .tile__item {
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .tile {
      margin: 0 -10px 30px -10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .tile__item {
        width: 50%;
        padding: 0 10px; } }
  @media (min-width: 992px) {
    .tile__item {
      width: 320px;
      padding: 0 10px; } }

.concept {
  min-height: 65px;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px; }
  .concept.one {
    background: url("../img/concept__01.png") 0 50% no-repeat; }
  .concept.two {
    background: url("../img/concept__02.png") 0 50% no-repeat; }
  .concept.three {
    background: url("../img/concept__03.png") 0 50% no-repeat; }
  .concept__wrap {
    margin: auto 0;
    display: inline-block; }

.price {
  padding: 0;
  width: 280px;
  list-style: none;
  margin: 0 auto; }
  .price__wrap {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 20px auto;
    overflow: hidden; }
  .price > li {
    position: relative;
    border-bottom: 1px solid #e4e4e9; }
    .price > li:after, .price > li:before {
      bottom: -1px;
      content: '';
      width: 500px;
      height: 100%;
      position: absolute;
      border-bottom: 1px solid #e4e4e9; }
    .price > li:after {
      left: -500px; }
    .price > li:before {
      right: -500px; }
    .price > li:last-child {
      border-bottom: none; }
      .price > li:last-child:after, .price > li:last-child:before {
        display: none; }
    .price > li.open {
      border-bottom: none; }
      .price > li.open .price__heading > i:before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .price > li.open .price__heading > i:after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .price > li.open .price__heading .dropdown {
        display: block; }
  .price__heading {
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    background: #f1f2f4;
    padding: 15px 15px 15px 35px; }
    .price__heading:after, .price__heading:before {
      top: 0;
      content: '';
      width: 500px;
      height: 100%;
      position: absolute;
      background: #f1f2f4;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .price__heading:after {
      left: -500px; }
    .price__heading:before {
      right: -500px; }
    .price__heading i {
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      cursor: pointer;
      margin-top: -12px;
      position: absolute;
      display: inline-block;
      border: 1px solid #d8dee7;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .price__heading i:after, .price__heading i:before {
        top: 50%;
        left: 50%;
        content: '';
        width: 10px;
        height: 2px;
        position: absolute;
        background: #383155;
        margin: -1px 0 0 -5px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .price__heading i:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
  .price__content {
    display: none;
    padding-left: 35px;
    background: #fff; }
    .price__content ul {
      margin: 0;
      padding: 7px 0;
      min-height: 54px;
      list-style: none;
      position: relative;
      border-bottom: 1px solid #e4e4e9;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .price__content ul:after, .price__content ul:before {
        bottom: -1px;
        content: '';
        width: 500px;
        height: 100%;
        position: absolute;
        border-bottom: 1px solid #e4e4e9; }
      .price__content ul:after {
        left: -500px; }
      .price__content ul:before {
        right: -500px; }
      .price__content ul li {
        margin: auto 0;
        font-size: 15px;
        line-height: 20px; }
        .price__content ul li:after, .price__content ul li:before {
          display: none; }
        .price__content ul li:last-child {
          display: none;
          padding-right: 20px; }
      .price__content ul:last-child {
        border-bottom: none; }
        .price__content ul:last-child:after, .price__content ul:last-child:before {
          display: none; }
  .price__elem {
    position: relative;
    display: inline-block; }
  .price__position {
    color: #383155;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px dashed #383155; }
    .price__position:hover {
      border-bottom-color: transparent; }
  .price__value {
    color: #000;
    font-weight: 700; }
  .price__info {
    top: 100%;
    left: 50%;
    width: 290px;
    display: none;
    padding: 40px;
    z-index: 100;
    margin-top: 10px;
    background: #fff;
    font-size: 13px;
    line-height: 22px;
    position: absolute;
    -webkit-box-shadow: -4px 3px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -4px 3px 30px 0px rgba(0, 0, 0, 0.25); }
    .price__info:before {
      top: -10px;
      left: 20px;
      content: '';
      width: 16px;
      height: 10px;
      position: absolute;
      background: url("../img/info_arrow.png") 50% 50% no-repeat; }
    .price__info p {
      margin-bottom: 40px; }
    .price__info.top {
      top: auto;
      bottom: 100%;
      margin: 0 0 10px 0; }
      .price__info.top:before {
        top: auto;
        bottom: -10px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
  @media (min-width: 768px) {
    .price {
      width: 100%; }
      .price > li:after, .price > li:before {
        display: none; }
      .price__wrap {
        width: 580px;
        overflow: inherit; }
      .price__heading {
        padding-left: 60px; }
        .price__heading i {
          left: 20px; }
        .price__heading:after, .price__heading:before {
          display: none; }
      .price__content {
        padding-left: 60px; }
        .price__content ul:after, .price__content ul:before {
          display: none; }
        .price__content ul li:last-child {
          display: block; }
      .price__elem.open .price__info {
        display: block; } }

.goods__item {
  margin-bottom: 50px; }
.goods__text {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px; }
.goods h4 {
  margin-bottom: 20px; }
@media (min-width: 768px) {
  .goods {
    margin: 0 -10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .goods__item {
      width: 50%;
      padding: 0 10px; } }
@media (min-width: 992px) {
  .goods__text {
    padding-right: 50px; } }

.photoGallery {
  margin: 0 -10px;
  position: relative; }
  .photoGallery .slide-nav.prev {
    left: -10px; }
  .photoGallery .slide-nav.next {
    right: -10px; }
  .photoGallery__item {
    border: none;
    outline: none;
    padding: 0 10px; }
  .photoGallery a {
    display: block;
    overflow: hidden; }
    .photoGallery a:hover img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .photoGallery img {
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.specialist {
  margin: 0 -10px; }
  .specialist__item {
    padding: 20px 30px;
    width: 280px;
    border: none;
    outline: none;
    background: #fff;
    text-align: center;
    margin: 0 10px;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .specialist__item:hover {
      z-index: 10;
      -webkit-box-shadow: -4px 3px 30px 0px rgba(0, 0, 0, 0.25);
      box-shadow: -4px 3px 30px 0px rgba(0, 0, 0, 0.25);
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .specialist__image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0 auto 25px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .specialist__image img {
      display: block; }
  .specialist__name {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px; }
  .specialist__skills {
    color: #666;
    font-size: 15px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 15px; }
  .specialist__review {
    color: #383155;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px; }
    .specialist__review a {
      color: #383155;
      text-decoration: underline; }
      .specialist__review a:hover {
        text-decoration: none; }
  @media (min-width: 768px) {
    .specialist {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; } }
  @media (min-width: 992px) {
    .specialist__item {
      padding: 35px 30px; } }

.article {
  margin-bottom: 50px; }
  .article__row {
    margin: 0 auto;
    max-width: 350px; }
  .article__main {
    margin: auto 0; }
  .article__image {
    position: relative;
    margin-bottom: 20px; }
    .article__image:before, .article__image:after {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      background: #fff;
      opacity: 0;
      visibility: hidden; }
    .article__image:before {
      top: 0;
      bottom: 50%;
      transform-origin: 0 0 0;
      -webkit-transform: skewY(-45deg);
      transform: skewY(-55deg); }
    .article__image:after {
      top: 50%;
      bottom: 0;
      transform-origin: 0 0 0;
      -webkit-transform: skewY(45deg);
      transform: skewY(55deg); }
    .article__image a {
      display: block; }
    .article__image img {
      display: block; }
  .article__intro {
    color: #666;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px; }
  .article h4 {
    margin-bottom: 20px; }
  @media (min-width: 768px) {
    .article {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .article.half {
        width: 50%; }
      .article__row {
        margin: 0 -10px;
        max-width: inherit;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .article__image {
        width: 300px;
        padding: 0 10px;
        margin-bottom: 0;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        order: 2; }
      .article__main {
        padding: 0 10px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }
  @media (min-width: 992px) {
    .article__image {
      width: 350px;
      padding: 0 10px 0 0; }
      .article__image:before, .article__image:after {
        opacity: 1;
        visibility: visible; } }

.post {
  margin: 0 auto;
  max-width: 350px; }
  .post .breadcrumb {
    margin-bottom: 0; }
  .post h1 {
    margin-bottom: 25px; }
  .post__wrap {
    width: 280px;
    margin: 0 auto; }
  .post__top {
    margin-bottom: 30px; }
  .post__image {
    margin-bottom: 20px; }
    .post__image img {
      display: block; }
  .post__intro {
    font-size: 20px;
    line-height: 30px; }
  @media (min-width: 768px) {
    .post {
      width: 620px;
      margin: 0 auto;
      max-width: inherit;
      padding-left: 20px;
      padding-right: 20px; }
      .post h1 {
        margin-bottom: 40px; }
      .post__wrap {
        width: 100%; }
      .post__top {
        min-height: 260px;
        position: relative;
        padding-right: 240px; }
      .post__image {
        top: 0;
        right: 0;
        width: 220px;
        overflow: hidden;
        margin-bottom: 0;
        position: absolute; }
        .post__image_wrap {
          margin-right: -155px; } }
  @media (min-width: 992px) {
    .post {
      width: 920px; }
      .post h1 {
        margin-bottom: 50px; }
      .post__top {
        padding-right: 300px; }
      .post__image {
        width: 240px; }
        .post__image_wrap {
          margin-right: -135px; } }
  @media (min-width: 1250px) {
    .post {
      width: 1220px;
      padding-left: 245px; } }

.reviewHeading {
  position: relative;
  margin-bottom: 35px; }
  .reviewHeading h1 {
    margin-bottom: 30px; }
  .reviewHeading__filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .reviewHeading__filter_label {
      width: 85px;
      color: #666;
      display: block;
      padding: 10px 0;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px; }
    .reviewHeading__filter_select {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .reviewHeading__filter_select .form-select {
        padding: 9px 20px; }
  .reviewHeading__new {
    right: 0;
    top: -10px;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    font-size: 0;
    padding: 10px;
    line-height: 0;
    position: absolute;
    background: #383155;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
    .reviewHeading__new:hover {
      background: #554e72; }
    .reviewHeading__new:active {
      background: #40395d; }
    .reviewHeading__new .ico-svg {
      fill: #fff; }
  @media (min-width: 768px) {
    .reviewHeading {
      padding-right: 110px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .reviewHeading h1 {
        margin-bottom: 0; } }
  @media (min-width: 768px) and (min-width: 992px) {
    .reviewHeading {
      margin-right: -180px;
      padding-right: 240px; } }

  @media (min-width: 1250px) {
    .reviewHeading {
      margin-right: -255px;
      padding-right: 255px; } }

.review {
  margin-bottom: 50px; }
  .review__meta {
    margin-bottom: 35px; }
    .review__meta ul {
      margin: 0;
      padding: 0;
      color: #666;
      font-size: 15px;
      line-height: 30px;
      list-style: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .review__meta ul li:first-child {
        width: 80px; }
      .review__meta ul li:last-child {
        color: #000;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
  .review__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px; }
    .review__text p:last-child {
      margin-bottom: 0; }
  .review__author {
    text-align: right;
    font-style: italic; }
  .review__doctor {
    position: relative;
    display: inline-block; }
    .review__doctor > span {
      color: #383155; }
  .review__tooltip {
    top: -25px;
    left: 100%;
    width: 280px;
    display: none;
    background: #fff;
    margin-left: 15px;
    text-align: center;
    padding: 45px 30px;
    position: absolute;
    -webkit-box-shadow: -4px 4px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -4px 4px 30px 0px rgba(0, 0, 0, 0.25); }
    .review__tooltip:before {
      top: 32px;
      left: -16px;
      content: '';
      position: absolute;
      display: inline-block;
      border: 8px solid transparent;
      border-right: 8px solid #fff; }
    .review__tooltip_photo {
      width: 120px;
      height: 120px;
      overflow: hidden;
      margin: 0 auto 25px auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .review__tooltip_photo img {
        display: block; }
    .review__tooltip_name {
      color: #000000;
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px; }
    .review__tooltip_skills {
      color: #666;
      font-size: 15px;
      line-height: 20px;
      font-style: italic;
      margin-bottom: 15px; }
  @media (min-width: 768px) {
    .review__doctor > span {
      cursor: pointer;
      border-bottom: 1px dashed #383155; }
    .review__doctor:hover .review__tooltip {
      display: block; } }
  @media (min-width: 992px) {
    .review__tooltip {
      width: 300px; } }

.rate-content img {
  width: 10px;
  height: auto; }

.footer {
  background: #f1f2f4; }
  .footer__top {
    padding-top: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e9; }
    .footer__top .wrap {
      padding-left: 100px; }
  .footer__nav {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none; }
    .footer__nav li {
      margin-bottom: 25px; }
      .footer__nav li a {
        color: #383155;
        font-size: 11px;
        font-weight: 600;
        line-height: 15px;
        text-transform: uppercase;
        text-decoration: underline; }
        .footer__nav li a:hover {
          text-decoration: none; }
  .footer__doc {
    color: #383155;
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: underline; }
    .footer__doc:hover {
      text-decoration: none; }
    .footer__doc i {
      top: -4px;
      left: -30px;
      width: 18px;
      height: 21px;
      position: absolute;
      display: inline-block; }
      .footer__doc i .ico-svg {
        fill: #aebace; }
  .footer__bottom {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center; }
  .footer__contact {
    padding: 0;
    margin: 0 0 30px 0;
    text-align: center;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .footer__contact .tel {
      color: #383155;
      font-size: 13px;
      font-weight: 900;
      line-height: 20px;
      text-decoration: navajowhite; }
  .footer__copy {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-bottom: 2px; }
  .footer__dev {
    color: #666;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    padding-right: 25px;
    display: inline-block;
    text-decoration: none; }
    .footer__dev:hover {
      text-decoration: underline; }
    .footer__dev:before {
      top: 0;
      right: 0;
      content: '';
      width: 16px;
      height: 20px;
      position: absolute;
      background: url("../img/logo_dev.png") 0 0 no-repeat; }
  @media (min-width: 768px) {
    .footer__top .wrap {
      padding-left: 0; }
    .footer__nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .footer__nav li {
        width: 33.33%; }
        .footer__nav li:nth-child(1n) {
          width: 40%; }
        .footer__nav li:nth-child(3n) {
          width: 12%; }
        .footer__nav li:last-child {
          width: 12%; }
    .footer__bottom .wrap {
      width: 280px; }
    .footer__copy {
      margin-bottom: 35px; } }
  @media (min-width: 992px) {
    .footer__top {
      padding-top: 35px;
      padding-bottom: 35px; }
    .footer__nav {
      margin: 0 -8px;
      display: block;
      -webkit-flex-wrap: no-wrap;
      -moz-flex-wrap: no-wrap;
      -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start; }
      .footer__nav:before, .footer__nav:after {
        content: " ";
        display: table; }
      .footer__nav:after {
        clear: both; }
      .footer__nav li {
        width: auto;
        float: left;
        padding: 0 8px;
        margin-bottom: 0; }
        .footer__nav li:nth-child(1n) {
          width: auto; }
        .footer__nav li:nth-child(3n) {
          width: auto; }
        .footer__nav li:last-child {
          width: auto;
          float: right; }
    .footer__bottom {
      padding-top: 30px;
      padding-bottom: 25px; }
      .footer__bottom .wrap {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
    .footer__contact {
      width: 270px;
      margin: auto 0; }
    .footer__copy {
      width: 280px;
      margin: auto 0; }
    .footer__copy {
      margin: auto 0; } }
  @media (min-width: 1250px) {
    .footer__nav {
      margin: 0 -20px; }
      .footer__nav li {
        padding: 0 20px; } }

/*# sourceMappingURL=main.css.map */
