.page {
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	@include flex-grow(1);
	padding-bottom: 60px;

	@media (min-width: $screen-md-min) {
		padding-bottom: 80px;
	}
}

.content {
	max-width: 700px;

	.news__date {
		margin-bottom: 10px;
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			margin: 0 -20px;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between)
		}

		&__col {
			width: 50%;
			padding: 0 20px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-left: 225px;
	}

}

.wrap {
	width: 280px;
	margin: 0 auto;

	@media (min-width: $screen-sm-min) {
		width: 100%;
	}
}

.heading {
	@include clearfix();
	margin-bottom: 30px;


	strong {
		float: left;
		color: #000;
		font-size: 25px;
		font-weight: 700;
		line-height: 25px;
		margin-right: 20px;
		display: inline-block;
	}

	a {
		float: left;
		color: #000;
		font-size: 11px;
		line-height: 20px;
		margin-top: 5px;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.formBox {

	&__title {
		color: #000;
		font-size: 20px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 20px;
	}

	&__subtitle {
		color: #666;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	&__text {
		color: #aaa;
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
		letter-spacing: 0.3px;
	}

	.btn {
		width: 100%;
		margin-top: 10px;
	}
}

.slide-nav {
	top: 50%;
	z-index: 10;
	width: 40px;
	height: 40px;
	color: #ffffff;
	padding: 12px 0;
	font-size: 16px;
	line-height: 16px;
	margin-top: -20px;
	cursor: pointer;
	position: absolute;
	text-align: center;
	display: inline-block;
	background-color: #383155;
	@include border-radius(50%);
	@include transition(0.3s);

	&:hover {
		background-color: #554e72;
		@include transition(0.3s);
	}

	&:active {
		background-color: #40395d;
	}

	&.prev {
		left: -20px;
	}

	&.next {
		right: -20px;
	}
}

.jumbotron {
	margin: 0 -15px 40px -15px;
	@include clearfix();


	&__contact {
		display: none;
	}

	&__slider {

	}

	&__info {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			color: #666;
			font-size: 15px;
			line-height: 20px;
			position: relative;
			font-style: italic;
			margin-bottom: 5px;
			padding: 2px 0 2px 30px;

			i {
				left: 0;
				top: 50%;
				position: absolute;
				display: inline-block;

				.ico-svg {
					fill: #aebace;
				}
			}

			&:first-child {

				i {
					height: 24px;
					margin-top: -12px;
				}
			}

			&:last-child {

				i {
					height: 20px;
					margin-top: -10px;

					.ico-svg {
						transform: translate(-91 -612);
					}
				}
			}
		}
	}


	.formBox {
		margin-bottom: 50px;
	}

	@media (min-width: $screen-sm-min) {

	}

	@media (min-width: $screen-md-min) {
		margin: 0 0 60px 0;
	}

	@media (min-width: $screen-lg-min) {

		&__contact {
			float: left;
			display: block;
			width: 240px;
			padding-top: 150px;
		}

		&__slider {
			float: right;
			width: 880px;
		}
	}

	@media (min-width: $screen-xl-min) {


	}
}

.baseSlider {
	position: relative;

	&__item {
		border: none;
		outline: none;

		a {
			display: block;
		}

		img {
			display: block;
		}
	}

	.slick-dots {
		left: 0;
		right: 0;
		bottom: 20px;
		z-index: 10;
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		position: absolute;

		li {
			padding: 0 5px;
			display: inline-block;

			button {
				margin: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				border: none;
				outline: none;
				position: relative;
				background: #383155;
				display: inline-block;
				@include border-radius(50%);

				&:before {
					top: 2px;
					left: 2px;
					width: 6px;
					height: 6px;
					content: '';
					background: #383155;
					display: inline-block;
					@include border-radius(50%);
				}
			}

			&.slick-active {

				button {
					background: transparent;
				}
			}
		}
	}
}

.advantage {
	color: #666666;
	font-size: 15px;
	line-height: 20px;
	padding-bottom: 25px;

	&__item {
		margin-bottom: 55px;
	}

	&__image {
		height: 67px;
		font-size: 0;
		line-height: 0;
		margin-bottom: 20px;
		display: inline-block;

		.ico-svg {
			fill: #aebace;
		}
	}

	&__heading {
		color: #000;
		font-size: 13px;
		font-weight: 900;
		line-height: 20px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__text {

	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 80px;
		@include flexbox();
		@include justify-content(space-between);

		&__item {
			width: 175px;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		margin: 0;

		&__item {
			width: 280px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__item {
			width: 340px;
			min-height: 70px;
			position: relative;
			padding-left: 100px;

			&:nth-child(2) {
				width: 380px;
			}
		}

		&__image {
			top: 0;
			left: 0;
			width: 100px;
			margin-bottom: 0;
			position: absolute;
		}
	}
}

.preview {
	margin-bottom: 70px;

	.heading {
		width: 100%;
		margin-bottom: 40px;

	}

	&__article {
		padding-bottom: 20px;
	}

	&__news {

		&_image {
			display: none;
		}

		&_content {

		}
	}


	@media (min-width: $screen-sm-min) {

		&__article {
			@include flexbox();
			@include flex-wrap(wrap);

			.preview__title {
				width: 100%;

			}
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include justify-content(space-between);

		&__article {
			@include flex-grow(1);
		}

		&__news {
			width: 270px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 40px;

		&__article {
			margin-bottom: 0;
			padding-right: 40px;
			@include justify-content(space-between);
		}

		&__news {
			width: 620px;
			@include flexbox();
			@include justify-content(space-between);

			&_image {
				width: 260px;
				display: block;
			}

			&_content {
				width: 270px;
			}
		}
	}
}

.articleItem {
	color: #666666;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 40px;

	&__title {
		font-size: 13px;
		font-weight: 900;
		line-height: 20px;
		margin-bottom: 20px;
		text-transform: uppercase;

		a {
			color: #000;
			text-decoration: none;
		}
	}

	&__text {
		margin-bottom: 25px;
	}

	&__link {
		text-align: right;

		a {
			color: #383155;
			font-size: 11px;
			font-weight: 600;
			line-height: 15px;
			text-decoration: underline;
			text-transform: uppercase;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 50%;
		margin-bottom: 60px;
		padding-right: 70px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 0;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 0;
		width: 220px;
		padding: 0;
	}

}

.newsItem {
	padding-bottom: 25px;

	margin-bottom: 25px;
	border-bottom: 1px solid #f0f1f3;

	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}


	.newsItem__title {
		color: #383155;
		font-size: 15px;
		font-weight: 900;
		line-height: 20px;
		margin-bottom: 10px;
		text-decoration: underline;

		a {
			color: #383155;
		}
	}

	&__date {
		color: #666666;
		font-size: 13px;
		font-style: italic;
		line-height: 15px;
	}

	@media (min-width: $screen-sm-min) {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;

		width: 50%;
		float: left;
		padding-right: 20px;

	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		padding-right: 0;
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid #f0f1f3;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}

}

.services {
	margin-bottom: 40px;

	h2 {
		margin-bottom: 15px;
	}

	&__list {
		padding: 0;
		margin: 0 -10px;
		list-style: none;
		@include clearfix();

		li {
			padding: 0 10px;
			margin-bottom: 20px;
		}

		a {
			display: block;
			color: #383155;
			overflow: hidden;
			position: relative;
			text-decoration: none;

			&:hover {

				img {
					@include scale(1.2);
					@include transition(.3s);
				}
			}
		}

		img {
			display: block;
			@include transition(.3s);
		}
	}

	&__name {
		right: 20px;
		bottom: 17px;
		font-size: 13px;
		font-weight: 900;
		line-height: 20px;
		position: absolute;
		padding-right: 20px;
		text-align: right;
		max-width: 260px;
		letter-spacing: 0.97px;
		text-transform: uppercase;

		i {
			right: 0;
			bottom: 5px;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
		}
	}


	@media (min-width: $screen-sm-min) {
		margin-bottom: 70px;

		&__list {

			li {
				width: 50%;
				float: left;
				margin-bottom: 0;
			}
		}

		&__name {
			max-width: inherit;
		}
	}
}

.user {
	margin-bottom: 60px;

	&__slider {
		margin: 0 40px;
		position: relative;

		.slide-nav {

			&.prev {
				left: -40px;
			}

			&.next {
				right: -40px;
			}
		}
	}

	&__item {
		border: none;
		outline: none;
		text-align: center;
	}

	&__image {
		width: 120px;
		height: 120px;
		overflow: hidden;
		margin: 0 auto 25px auto;
		@include border-radius(50%);

		img {
			display: block;
		}
	}

	&__name {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 10px;
	}

	&__skills {
		color: #666;
		font-size: 15px;
		line-height: 20px;
		font-style: italic;
		margin-bottom: 15px;
	}

	&__review {
		color: #383155;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 20px;

		a {
			color: #383155;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__title {

			strong {
				float: left;
				margin-bottom: 0;
				display: inline-block;
			}

			span {
				float: left;
			}
		}


		&__slider {
			margin: 0 20px;

			.slide-nav {

				&.prev {
					left: -40px;
				}

				&.next {
					right: -40px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__heading {
			margin-bottom: 10px;
		}

		&__title {
			margin-bottom: 50px;

			strong {
				float: left;
			}

			span {
				float: left;
			}
		}

		&__slider {
			margin: 0 20px;
			position: relative;
		}

		&__item {
			padding: 15px;
		}

		&__box {
			width: 240px;
			margin: 0 auto;
			background: #fff;
			padding: 20px 25px;
			@include transition(.3s);

			&:hover {
				z-index: 10;
				@include box-shadow( -4px 3px 15px 0px rgba(0, 0, 0, 0.25));
				@include transition(.3s);
			}
		}
	}

	@media (min-width: $screen-lg-min) {


		&__slider {
			margin: 0 60px;

			.slide-nav {

				&.prev {
					left: -80px;
				}

				&.next {
					right: -80px;
				}
			}
		}
	}
}

.miniGallery {
	margin-bottom: 60px;

	.heading {
		margin-bottom: 20px;
		@include clearfix();
	}

	&__slider {
		margin: 0 -10px;
		position: relative;


		.slide-nav {

			&.prev {
				left: -10px;
			}

			&.next {
				right: -10px;
			}
		}
	}

	&__item {
		border: none;
		outline: none;
		padding: 0 10px;
	}

	a {
		display: block;
		overflow: hidden;

		&:hover {

			img {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}

	img {
		display: block;
		@include transition(.3s);
	}

	@media (min-width: $screen-sm-min) {

		&__title {
			margin-bottom: 35px;

			strong {
				float: left;
				margin-bottom: 0;
				display: inline-block;
			}

			span {
				float: left;
			}
		}
	}

}

.modal {
	width: 280px;
	padding: 30px;
	background: #fff;
	@include border-radius(3px);

	&__title {
		color: #000;
		font-size: 25px;
		font-weight: 700;
		line-height: 30px;
		margin-bottom: 15px;
	}

	&__text {
		color: #666;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 15px;
	}

	&__bottom {
		color: #aaa;
		font-size: 12px;
		line-height: 15px;
	}

	&__close {
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;
		width: 30px;
		height: 30px;
		outline: none;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: transparent;
		border: 1px solid #d6dce6;
		@include border-radius(3px);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			z-index: 10;
			width: 16px;
			height: 2px;
			position: absolute;
			background: #383155;
			display: inline-block;
			margin: -1px 0 0 -8px;
		}

		&:after {
			@include rotate(-45deg);
		}

		&:before {
			@include rotate(45deg);
		}

		&:hover {
			background: #d6dce6;
		}
	}

	.btn {
		width: 100%;
		margin-top: 10px;
	}
}

.contacts {
	@include clearfix();

	&__map {
		height: 400px;
		position: relative;
	}

	#map {
		width: 100%;
		height: 100%;
	}

	&__form {
		padding: 60px 0 0 0;
		width: 280px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {
		width: 620px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	@media (min-width: $screen-md-min) {
		width: 920px;

		&__map {
			width: 540px;
			float: left;
		}

		&__form {
			margin: 0;
			float: right;
			padding: 25px 0 0 0;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 1220px;

		&__map {
			width: 640px;
		}

		&__form {
			margin-right: 60px;
		}
	}
}

.gallery {

	&__item {
		margin-bottom: 20px;
	}

	a {
		display: block;
		overflow: hidden;

		&:hover {

			img {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}

	img {
		display: block;
		@include transition(.3s);
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -10px;
		@include flexbox();
		@include flex-wrap(wrap);

		&__item {
			width: 50%;
			padding: 0 10px;
		}

		@media (min-width: $screen-md-min) {

			&__item {
				width: 33.33%;
			}
		}
	}
}

.contactBox {
	top: 50%;
	left: 50%;
	z-index: 10;
	width: 280px;
	height: 216px;
	background: #fff;
	position: absolute;
	padding: 40px 30px;
	margin: -108px 0 0 -140px;

	&__close {
		top: 8px;
		right: 8px;
		padding: 0;
		margin: 0;
		width: 20px;
		height: 20px;
		outline: none;
		cursor: pointer;
		position: absolute;
		display: inline-block;
		background: transparent;
		border: 1px solid #d8dee7;
		@include border-radius(50%);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			z-index: 10;
			width: 10px;
			height: 2px;
			position: absolute;
			background: #383155;
			display: inline-block;
			margin: -1px 0 0 -5px;
		}

		&:after {
			@include rotate(-45deg);
		}

		&:before {
			@include rotate(45deg);
		}

		&:hover {
			background: #d6dce6;
		}
	}

	&__info {
		margin: 0 0 20px 0;
		padding: 0;
		list-style: none;

		li {
			color: #666;
			font-size: 15px;
			line-height: 20px;
			position: relative;
			font-style: italic;
			margin-bottom: 5px;
			padding: 2px 0 2px 30px;

			i {
				left: 0;
				top: 50%;
				position: absolute;
				display: inline-block;

				.ico-svg {
					fill: #aebace;
				}
			}

			&:first-child {

				i {
					height: 24px;
					margin-top: -12px;
				}
			}

			&:last-child {

				i {
					height: 20px;
					margin-top: -10px;

					.ico-svg {
						transform: translate(-91 -612);
					}
				}
			}
		}
	}

	&__contact {
		padding: 0;
		margin: 0 auto;
		text-align: center;
		list-style: none;

		> li {

			&:first-child {
				white-space: nowrap;
				margin-bottom: 2px;
			}
		}

		.tel {
			color: #383155;
			font-size: 14px;
			font-weight: 900;
			line-height: 20px;
			text-decoration: navajowhite;
		}
	}
}

.docs {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 30px;


		a {
			color: #383155;
			min-height: 50px;
			padding-top: 10px;
			padding-left: 60px;
			display: inline-block;
			text-decoration: none;
			background: url("../img/icon_pdf.png") 0 0 no-repeat;

			span {
				border-bottom: 1px dashed #383155;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}
	}
}

.doctor {
	position: relative;
	margin: 30px 0 40px 0;

	&__heading {
		margin-bottom: 25px;

		h1 {
			margin-bottom: 5px;
		}

		i {
			color: #666;
			font-size: 15px;
			line-height: 20px;
		}
	}

	&__photo {
		width: 240px;
		overflow: hidden;
		margin-bottom: 25px;
		@include border-radius(50%);
	}

	&__skills {

	}

	&__box {
		padding-bottom: 25px;
	}

	@media (min-width: $screen-sm-min) {
		min-height: 240px;
		margin-top: 40px;
		padding-left: 270px;

		&__photo {
			top: 0;
			left: 0;
			margin-bottom: 0;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-left: 300px;
	}
}

.news {
	max-width: 700px;
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}

	&__date {
		color: #666;
		font-size: 13px;
		line-height: 25px;
		font-style: italic;
	}

	&__heading {
		font-size: 15px;
		font-weight: 900;
		line-height: 20px;
		margin-bottom: 10px;

		a {
			color: #383155;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__intro {
		color: #666;
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 5px;
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 50px;
	}
}

.appointment {
	padding: 20px;
	background: #edeef0;
	@include border-radius(3px);

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			margin: 0 -10px;
			@include flexbox();
		}

		&__column {
			width: 33.33%;
			padding: 0 10px;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.imageBox {
	display: block;
	margin-bottom: 30px;
}

.vacancies {

	padding: 0;
	margin: 0 -10px;
	list-style: none;
	@include clearfix();

	li {
		padding: 0 10px;
		margin-bottom: 20px;
	}

	a {
		display: block;
		color: #383155;
		position: relative;
		text-decoration: none;
		@include transition(.3s);

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			content: '';
			display: block;
			position: absolute;
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 99%, rgba(255,255,255,0.9) 100%);
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 99%,rgba(255,255,255,0.9) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 99%,rgba(255,255,255,0.9) 100%);
		}

		&:hover {
			@include transition(.3s);

			&:before {
				background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.7) 99%, rgba(255,255,255,0.9) 100%);
				background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.7) 99%,rgba(255,255,255,0.9) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.7) 99%,rgba(255,255,255,0.9) 100%);
			}
		}
	}

	img {
		display: block;
		@include transition(.3s);
	}

	&__name {
		z-index: 20;
		left: 20px;
		bottom: 17px;
		font-size: 13px;
		font-weight: 900;
		line-height: 20px;
		position: absolute;
		padding-right: 20px;
		text-align: right;
		max-width: 260px;
		letter-spacing: 0.97px;
		text-transform: uppercase;

		i {
			right: 0;
			bottom: 5px;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
		}
	}

	@media (min-width: $screen-sm-min) {

		li {
			width: 50%;
			float: left;
		}

		&__name {
			max-width: inherit;
		}
	}
}

.vacancy {

	table {
		margin-bottom: 30px;

		tr {

		}

		td {
			font-size: 15px;
			line-height: 30px;
			padding-right: 30px;

			&:first-child {
				color: #999;
			}

			&:last-child {
				color: #333;
			}
		}
	}
}

.direction {

	&__item {
		width: 270px;
		margin-bottom: 40px;

		&.long {
			width: 100%;
		}
	}


	&__number {
		color: #ced2d9;
		font-size: 30px;
		font-weight: 900;
		line-height: 30px;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 15px;
		line-height: 25px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	@media (min-width: $screen-md-min) {

		&__item {
			width: 300px;
		}
	}
}

.tile {
	margin-bottom: 30px;

	h2 {
		margin-bottom: 0;
	}

	&__item {
		margin-bottom: 30px;
	}


	@media (min-width: $screen-sm-min) {
		margin: 0 -10px 30px -10px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&__item {
			width: 50%;
			padding: 0 10px;
		}
	}

	@media (min-width: $screen-md-min) {
		&__item {
			width: 320px;
			padding: 0 10px;
		}
	}
}

.concept {
	min-height: 65px;
	font-size: 15px;
	line-height: 20px;
	@include flexbox();
	padding-left: 80px;

	&.one {
		background: url("../img/concept__01.png") 0 50% no-repeat;
	}

	&.two {
		background: url("../img/concept__02.png") 0 50% no-repeat;
	}

	&.three {
		background: url("../img/concept__03.png") 0 50% no-repeat;
	}

	&__wrap {
		margin: auto 0;
		display: inline-block;
	}
}

.price {
	padding: 0;
	width: 280px;
	list-style: none;
	margin: 0 auto;

	&__wrap {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 20px auto;
		overflow: hidden;
	}

	> li {
		position: relative;
		border-bottom: 1px solid #e4e4e9;

		&:after,
		&:before {
			bottom: -1px;
			content: '';
			width: 500px;
			height: 100%;
			position: absolute;
			border-bottom: 1px solid #e4e4e9;
		}

		&:after {
			left: -500px;
		}

		&:before {
			right: -500px;
		}

		&:last-child {
			border-bottom: none;

			&:after,
			&:before {
				display: none;
			}
		}

		&.open {
			border-bottom: none;

			.price__heading {
				> i {


					&:before {
						@include rotate(180deg);
						@include transition(.3s);
					}

					&:after {
						@include rotate(180deg);
						@include transition(.3s);
					}
				}

				.dropdown {
					display: block;
				}
			}
		}
	}

	&__heading {
		color: #000;
		cursor: pointer;
		font-size: 20px;
		font-weight: 500;
		line-height: 20px;
		position: relative;
		background: #f1f2f4;
		padding: 15px 15px 15px 35px;

		&:after,
		&:before {
			top: 0;
			content: '';
			width: 500px;
			height: 100%;
			position: absolute;
			background: #f1f2f4;
			@include transition(.3s);
		}

		&:after {
			left: -500px;
		}

		&:before {
			right: -500px;
		}

		i {
			top: 50%;
			left: 0;
			width: 24px;
			height: 24px;
			cursor: pointer;
			margin-top: -12px;
			position: absolute;
			display: inline-block;
			border: 1px solid #d8dee7;
			@include border-radius(50%);
			@include transition(.3s);

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 10px;
				height: 2px;
				position: absolute;
				background: #383155;
				margin: -1px 0 0 -5px;
				@include transition(.3s);
			}

			&:after {
				@include rotate(90deg);
			}
		}
	}

	&__content {
		display: none;
		padding-left: 35px;
		background: #fff;

		ul {
			margin: 0;
			padding: 7px 0;
			min-height: 54px;
			list-style: none;
			position: relative;
			border-bottom: 1px solid #e4e4e9;
			@include flexbox();
			@include justify-content(space-between);

			&:after,
			&:before {
				bottom: -1px;
				content: '';
				width: 500px;
				height: 100%;
				position: absolute;
				border-bottom: 1px solid #e4e4e9;
			}


			&:after {
				left: -500px;
			}

			&:before {
				right: -500px;
			}

			li {
				margin: auto 0;
				font-size: 15px;
				line-height: 20px;

				&:after,
				&:before {
					display: none;
				}

				&:last-child {
					display: none;
					padding-right: 20px;
				}
			}

			&:last-child {
				border-bottom: none;

				&:after,
				&:before {
					display: none;
				}
			}
		}
	}

	&__elem {
		position: relative;
		display: inline-block;
	}

	&__position {
		color: #383155;
		cursor: pointer;
		font-size: 15px;
		line-height: 20px;
		border-bottom: 1px dashed #383155;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	&__value {
		color: #000;
		font-weight: 700;
	}

	&__info {
		top: 100%;
		left: 50%;
		width: 290px;
		display: none;
		padding: 40px;
		z-index: 100;
		margin-top: 10px;
		background: #fff;
		font-size: 13px;
		line-height: 22px;
		position: absolute;
		@include box-shadow(-4px 3px 30px 0px rgba(0, 0, 0, 0.25));

		&:before {
			top: -10px;
			left: 20px;
			content: '';
			width: 16px;
			height: 10px;
			position: absolute;
			background: url("../img/info_arrow.png") 50% 50% no-repeat;
		}

		p {
			margin-bottom: 40px;
		}

		&.top {
			top: auto;
			bottom: 100%;
			margin: 0 0 10px 0;

			&:before {
				top: auto;
				bottom: -10px;
				@include rotate(180deg);
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 100%;

		> li {
			&:after,
			&:before {
				display: none;
			}
		}

		&__wrap {
			width: 580px;
			overflow: inherit;
		}

		&__heading {
			padding-left: 60px;

			i {
				left: 20px;
			}

			&:after,
			&:before {
				display: none;
			}
		}

		&__content {
			padding-left: 60px;

			ul {
				&:after,
				&:before {
					display: none;
				}

				li {


					&:last-child {
						display: block;
					}
				}
			}
		}

		&__elem {

			&.open {

				.price__info {
					display: block;

				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

.goods {

	&__item {
		margin-bottom: 50px;
	}

	&__text {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 20px;
	}

	h4 {
		margin-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -10px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		&__item {
			width: 50%;
			padding: 0 10px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__text {
			padding-right: 50px;
		}
	}
}

.photoGallery {
	margin: 0 -10px;
	position: relative;

	.slide-nav {

		&.prev {
			left: -10px;
		}

		&.next {
			right: -10px;
		}
	}

	&__item {
		border: none;
		outline: none;
		padding: 0 10px;
	}

	a {
		display: block;
		overflow: hidden;

		&:hover {

			img {
				@include scale(1.2);
				@include transition(.3s);
			}
		}
	}

	img {
		display: block;
		@include transition(.3s);
	}
}

.specialist {
	margin: 0 -10px;

	&__item {
		padding: 20px 30px;
		width: 280px;
		border: none;
		outline: none;
		background: #fff;
		text-align: center;
		margin: 0 10px;
		position: relative;
		@include transition(.3s);

		&:hover {
			z-index: 10;
			@include box-shadow( -4px 3px 30px 0px rgba(0, 0, 0, 0.25));
			@include transition(.3s);
		}
	}

	&__image {
		width: 120px;
		height: 120px;
		overflow: hidden;
		margin: 0 auto 25px auto;
		@include border-radius(50%);

		img {
			display: block;
		}
	}

	&__name {
		color: #000000;
		font-size: 18px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 10px;
	}

	&__skills {
		color: #666;
		font-size: 15px;
		line-height: 20px;
		font-style: italic;
		margin-bottom: 15px;
	}

	&__review {
		color: #383155;
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 20px;

		a {
			color: #383155;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}

	@media (min-width: $screen-md-min) {

		&__item {
			padding: 35px 30px;
		}
	}
}

.article {
	margin-bottom: 50px;

	&__row {
		margin: 0 auto;
		max-width: 350px;
	}

	&__main {
		margin: auto 0;
	}

	&__image {
		position: relative;
		margin-bottom: 20px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 20px;
			background: #fff;

			opacity: 0;
			visibility: hidden;
		}
		&:before {
			top: 0;
			bottom: 50%;
			transform-origin: 0 0 0;
			-webkit-transform: skewY(-45deg);
			transform: skewY(-55deg);
		}
		&:after {
			top: 50%;
			bottom: 0;
			transform-origin: 0 0 0;
			-webkit-transform: skewY(45deg);
			transform: skewY(55deg);
		}

		a {
			display: block;
		}

		img {
			display: block;
		}
	}

	&__intro {
		color: #666;
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	h4 {
		margin-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include justify-content(space-between);

		&.half {
			width: 50%;
		}

		&__row {
			margin: 0 -10px;
			max-width: inherit;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__image {
			width: 300px;
			padding: 0 10px;
			margin-bottom: 0;
			@include order(2);
		}

		&__main {
			padding: 0 10px;
			@include order(1);
			@include flex-grow(1);
		}
	}

	@media (min-width: $screen-md-min) {

		&__image {
			width: 350px;
			padding: 0 10px 0 0;

			&:before,
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.post {
	margin: 0 auto;
	max-width: 350px;

	.breadcrumb {
		margin-bottom: 0;
	}

	h1 {
		margin-bottom: 25px;
	}

	&__wrap {
		width: 280px;
		margin: 0 auto;
	}

	&__top {
		margin-bottom: 30px;
	}

	&__image {
		margin-bottom: 20px;

		img {
			display: block;
		}
	}

	&__intro {
		font-size: 20px;
		line-height: 30px;
	}

	&__content {

	}

	@media (min-width: $screen-sm-min) {
		width: 620px;
		margin: 0 auto;
		max-width: inherit;
		padding-left: 20px;
		padding-right: 20px;

		h1 {
			margin-bottom: 40px;
		}

		&__wrap {
			width: 100%;
		}

		&__top {
			min-height: 260px;
			position: relative;
			padding-right: 240px;
		}

		&__image {
			top: 0;
			right: 0;
			width: 220px;
			overflow: hidden;
			margin-bottom: 0;
			position: absolute;

			&_wrap {
				margin-right: -155px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 920px;

		h1 {
			margin-bottom: 50px;
		}

		&__top {
			padding-right: 300px;
		}

		&__image {
			width: 240px;

			&_wrap {
				margin-right: -135px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 1220px;
		padding-left: 245px;
	}
}

.reviewHeading {
	position: relative;
	margin-bottom: 35px;

	h1 {
		margin-bottom: 30px;
	}

	&__filter {
		@include flexbox();
		@include justify-content(space-between);

		&_label {
			width: 85px;
			color: #666;
			display: block;
			padding: 10px 0;
			font-size: 15px;
			font-weight: 400;
			line-height: 20px;
		}

		&_select {
			@include flex-grow(1);

			.form-select {
				padding: 9px 20px;
			}
		}
	}

	&__new {
		right: 0;
		top: -10px;
		border: none;
		outline: none;
		width: 50px;
		height: 50px;
		font-size: 0;
		padding: 10px;
		line-height: 0;
		position: absolute;
		background: #383155;
		display: inline-block;
		@include border-radius(3px);

		&:hover {
			background: #554e72;
		}

		&:active {
			background: #40395d;
		}

		.ico-svg {
			fill: #fff;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-right: 110px;
		@include flexbox();
		@include justify-content(space-between);

		h1 {
			margin-bottom: 0;
		}

		@media (min-width: $screen-md-min) {
			margin-right: -180px;
			padding-right: 240px;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin-right: -255px;
		padding-right: 255px;
	}
}

.review {
	margin-bottom: 50px;

	&__meta {
		margin-bottom: 35px;

		ul {
			margin: 0;
			padding: 0;
			color: #666;
			font-size: 15px;
			line-height: 30px;
			list-style: none;
			@include flexbox();

			li {

				&:first-child {
					width: 80px;
				}

				&:last-child {
					color: #000;
					@include flex-grow(1);
				}
			}
		}
	}

	&__text {
		font-size: 15px;
		line-height: 25px;
		margin-bottom: 25px;

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__author {
		text-align: right;
		font-style: italic;
	}

	&__doctor {
		position: relative;
		display: inline-block;

		> span {
			color: #383155;
		}
	}

	&__tooltip {
		top: -25px;
		left: 100%;
		width: 280px;
		display: none;
		background: #fff;
		margin-left: 15px;
		text-align: center;
		padding: 45px 30px;
		position: absolute;
		@include box-shadow(-4px 4px 30px 0px rgba(0, 0, 0, 0.25));

		&:before {
			top: 32px;
			left: -16px;
			content: '';
			position: absolute;
			display: inline-block;
			border: 8px solid transparent;
			border-right: 8px solid #fff;
		}


		&_photo {
			width: 120px;
			height: 120px;
			overflow: hidden;
			margin: 0 auto 25px auto;
			@include border-radius(50%);

			img {
				display: block;
			}
		}

		&_name {
			color: #000000;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			margin-bottom: 10px;
		}

		&_skills {
			color: #666;
			font-size: 15px;
			line-height: 20px;
			font-style: italic;
			margin-bottom: 15px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__doctor {

			> span {
				cursor: pointer;
				border-bottom: 1px dashed #383155;
			}

			&:hover {

				.review__tooltip {
					display: block;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__tooltip {
			width: 300px;
		}
	}

}

.rate-content {

	img {
		width: 10px;
		height: auto;
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}