.footer {
	background: #f1f2f4;

	&__top {
		padding-top: 45px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e4e4e9;

		.wrap {
			padding-left: 100px;
		}
	}

	&__nav {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		li {
			margin-bottom: 25px;

			a {
				color: #383155;
				font-size: 11px;
				font-weight: 600;
				line-height: 15px;
				text-transform: uppercase;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__doc {
		color: #383155;
		font-size: 11px;
		font-weight: 700;
		line-height: 15px;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

		i {
			top: -4px;
			left: -30px;
			width: 18px;
			height: 21px;
			position: absolute;
			display: inline-block;

			.ico-svg {
				fill: #aebace;
			}
		}

		span {

		}
	}


	&__bottom {
		padding-top: 40px;
		padding-bottom: 30px;
		text-align: center;
	}

	&__contact {
		padding: 0;
		margin: 0 0 30px 0;
		text-align: center;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		> li {
		}

		.tel {
			color: #383155;
			font-size: 13px;
			font-weight: 900;
			line-height: 20px;
			text-decoration: navajowhite;
		}
	}

	&__copy {
		color: #aaa;
		font-size: 13px;
		font-weight: 400;
		line-height: 15px;
		text-align: center;
		margin-bottom: 2px;
	}

	&__dev {
		color: #666;
		height: 20px;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		position: relative;
		padding-right: 25px;
		display: inline-block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		&:before {
			top: 0;
			right: 0;
			content: '';
			width: 16px;
			height: 20px;
			position: absolute;
			background: url("../img/logo_dev.png") 0 0 no-repeat;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__top {

			.wrap {
				padding-left: 0;
			}
		}

		&__nav {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			li {
				width: 33.33%;

				&:nth-child(1n) {
					width: 40%;
				}


				&:nth-child(3n) {
					width: 12%;
				}

				&:last-child {
					width: 12%;
				}
			}
		}

		&__bottom {

			.wrap {
				width: 280px;
			}
		}

		&__copy {
			margin-bottom: 35px;
		}
	}

	@media (min-width: $screen-md-min) {


		&__top {
			padding-top: 35px;
			padding-bottom: 35px;
		}

		&__nav {
			margin: 0 -8px;
			display: block;
			@include clearfix();
			@include flex-wrap(no-wrap);
			@include justify-content(flex-start);

			li {
				width: auto;
				float: left;
				padding: 0 8px;
				margin-bottom: 0;

				&:nth-child(1n) {
					width: auto;
				}


				&:nth-child(3n) {
					width: auto;
				}

				&:last-child {
					width: auto;
					float: right;
				}
			}
		}


		&__bottom {
			padding-top: 30px;
			padding-bottom: 25px;

			.wrap {
				width: 100%;
				@include flexbox();
				@include justify-content(space-between);
			}
		}


		&__contact {
			width: 270px;
			margin: auto 0;
		}

		&__copy {
			width: 280px;
			margin: auto 0;
		}

		&__copy {
			margin: auto 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {
			margin: 0 -20px;

			li {
				padding: 0 20px;
			}
		}
	}
}