
// Header

.header {
	z-index: 999;

	&__wrap {
		width: 280px;
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 20px;
		@include flexbox();
		@include justify-content(space-between);
	}

	&__logo {
		width: 56px;
		font-size: 0;
		line-height: 0;
		margin: auto 0;
		display: inline-block;
	}

	&__contact {
		padding: 0;
		margin: auto 0;
		text-align: center;
		list-style: none;

		> li {

			&:first-child {
				white-space: nowrap;
				margin-bottom: 2px;
			}
		}

		.tel {
			color: #383155;
			font-size: 14px;
			font-weight: 900;
			line-height: 20px;
			text-decoration: navajowhite;
		}
	}

	&__toggle {
		z-index: 300;
		width: 44px;
		height: 44px;
		font-size: 0;
		line-height: 0;
		margin: auto 0;
		position: relative;
		text-align: center;
		padding: 15px 13px 10px 13px;
		display: inline-block;
		border: 1px solid #d6dce6;
		@include border-radius(50%);
		@include transition(.3s);

		span {
			width: 100%;
			height: 2px;
			margin-bottom: 3px;
			background: #383155;
			position: relative;
			display: inline-block;
			@include transition(.3s);

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__nav {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;
		z-index: 250;
		display: block;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: rgba(51,51,51, 0.5);
		@include transition(.3s);

		&:before {
			top: 0;
			z-index: 10;
			right: 0;
			left: 50%;
			bottom: 0;
			content: '';
			display: block;
			position: absolute;
			background: rgba(255,255,255, 1);
			-webkit-transform: translateX(1000px);
			transform: translateX(1000px);
			@include transition(.5s);
		}

		&_bg {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			z-index: 200;
			opacity: 0;
			visibility: hidden;
			position: absolute;

		}

		&_appointment {
			color: #fff;
			border: none;
			outline: none;
			cursor: pointer;
			font-size: 10px;
			font-weight: 900;
			line-height: 19px;
			padding: 3px 10px;
			user-select: none;
			text-align: center;
			white-space: nowrap;
			background: #383155;
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			text-transform: uppercase;
			@include border-radius(3px);
			@include transition(.2s);

			&:hover {
				color: #fff;
				background: #554e72;
				border-color: #554e72;
			}

			&:focus,
			&.focus {
				outline: 0;
			}

			&:active {
				background: #40395d;
				border-color: #40395d;
			}
		}

		> ul {
			width: 280px;
			margin: 0 auto;
			font-size: 0;
			line-height: 0;
			height: 100%;
			z-index: 300;
			position: inherit;
			padding: 30px 20px 20px 60px;
			background: rgba(255,255,255, 1);
			-webkit-transform: translateX(800px);
			transform: translateX(800px);
			@include transition(.5s);

			> li {
				text-align: left;
				position: relative;
				margin-bottom: 20px;

				&:first-child {
					margin-bottom: 50px;

					a {
						color: #fff;
						font-size: 10px;
						line-height: 19px;
						font-weight: 600;
						letter-spacing: normal;
					}
				}

				> a {
					padding: 5px 10px;
					color: #454545;
					font-size: 15px;
					list-style: none;
					font-weight: 700;
					line-height: 20px;
					letter-spacing: 0.55px;
					text-decoration: none;
					display: inline-block;
				}

				> i {
					top: 3px;
					left: -24px;
					width: 24px;
					height: 24px;
					cursor: pointer;
					position: absolute;
					display: inline-block;
					border: 1px solid #d8dee7;
					@include border-radius(50%);
					@include transition(.3s);

					&:after,
					&:before {
						top: 50%;
						left: 50%;
						content: '';
						width: 10px;
						height: 2px;
						position: absolute;
						background: #383155;
						margin: -1px 0 0 -5px;
						@include transition(.3s);
					}

					&:after {
						@include rotate(90deg);
					}
				}

				&.open {

					> i {


						&:before {
							@include rotate(180deg);
							@include transition(.3s);
						}

						&:after {
							@include rotate(180deg);
							@include transition(.3s);
						}
					}

					.dropdown {
						display: block;
					}
				}
			}
		}

		.dropdown {
			display: none;
			list-style: none;
			position: relative;
			margin: 10px 0 0 0;
			background: #f1f2f4;
			padding: 15px 10px 15px 20px;

			&:before {
				top: 0;
				bottom: 0;
				z-index: -1;
				content: '';
				left: -60px;
				right: -800px;
				position: absolute;
				background: #f1f2f4;
			}

			> li {
				z-index: 10;
				margin-bottom: 10px;
				position: relative;

				&:last-child {
					margin-bottom: 0;
				}

				> a  {
					color: #383155;
					font-size: 11px;
					font-weight: 600;
					line-height: 15px;
					padding: 5px 10px;
					display: inline-block;
					text-transform: uppercase;
					text-decoration: underline;
				}

				> ul {
					margin: 0;
					display: none;
					padding: 10px 0;
					list-style: none;

					> li {
						font-size: 13px;
						line-height: 25px;

						> a {
							color: #383155;
							position: relative;
							padding-left: 25px;
							text-decoration: underline;

							&:before {
								left: 0;
								top: 50%;
								content: '';
								width: 12px;
								height: 1px;
								background: #ccc;
								display: inline-block;
								position: absolute;
							}

							&:hover {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	&.openNav {

		.header__toggle {

			span {
				@include transition(.3s);

				&:nth-child(1) {
					top: 5px;
					@include rotate(45deg);
				}

				&:nth-child(3) {
					@include rotate(-45deg);
				}

				&:nth-child(2) {
					display: none;
				}


			}
		}

		.header__nav {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);

			&:before {
				-webkit-transform: translateX(0);
				transform: translateX(0);
				@include transition(.5s);
			}

			> ul {
				-webkit-transform: translateX(0);
				transform: translateX(0);
				@include transition(.5s);
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		&__wrap {
			width: 100%;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&__logo {
			width: 100px;
			display: block;
		}

		&__contact {
			@include clearfix();

			> li {
				float: left;

				&:first-child {
					margin: 0 20px 0 0;
				}
			}

			.tel {
				font-size: 18px;
				line-height: 26px;
			}
		}

		&__nav {

			> ul {
				width: 320px;
				left: 130px;

			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__wrap {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		&__nav {

			&:before {
				left: 80%;
			}

			> ul {
				left: 280px;

			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&.drop {

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
				content: '';
				display: block;
				position: absolute;
				background: rgba(102,102,102,0.4);
			}
		}

		&__contact {

			> li {
				float: none;
				text-align: right;

				&:first-child {
					margin: 0;
				}
			}

			.tel {
				font-size: 18px;
				line-height: 26px;
			}
		}

		&__toggle {
			display: none;
		}

		&__nav {
			top: auto;
			left: auto;
			right: auto;
			opacity: 1;
			display: block;
			overflow: inherit;
			position: static;
			border-bottom: none;
			visibility: visible;
			background: transparent;
			margin: auto;
			@include clearfix();

			&:before {
				display: none;
			}


			> ul {
				left: 0;
				padding: 0;
				width: auto;
				margin: 0 -17px;
				position: inherit;
				text-transform: inherit;
				background: transparent;
				-webkit-transform: translateX(0);
				transform: translateX(0);
				@include transition(0);


				> li {
					z-index: 10;
					text-align: left;
					display: inline-block;
					position: relative;
					padding: 0 7px;
					margin-bottom: 0;

					&:first-child {
						display: none;
					}

					> i {
						display: none;
					}

					> a {
						color: #454545;
						font-size: 15px;
						list-style: none;
						font-weight: 900;
						line-height: 20px;
						text-decoration: none;

						&:hover {
							background: #f1f2f4;
							text-decoration: none;
						}
					}

					&.active {

						> a {
							color: #000;
						}
					}

					&.open {

						.dropdown {
							display: none;
						}
					}

					&.dropnav {

						&:hover {

							> a {
								background: #fff;
							}

							.dropdown {
								display: block;
							}
						}
					}
				}
			}

			.dropdown {
				top: 100%;
				margin: 0;
				left: -15px;
				padding: 20px 35px;
				width: 300px;
				position: absolute;
				background: #fff;

				&:before {
					display: none;
				}

				> li {
					margin-bottom: 10px;

					> a  {
						width: auto;
						padding: 0;
						font-size: 13px;
						line-height: 15px;
						text-transform: uppercase;
						display: inline-block;
						text-decoration: none;
						white-space: nowrap;
						border-bottom: 1px solid #383155;

						&:hover {
							border-bottom-color: transparent;
						}
					}

					> ul {
						display: block;
					}
				}
			}
		}


		&__wrap {
			position: relative;
		}


		&.header_home {

			.header__logo {
				left: 0;
				top: 40px;
				width: 240px;
				position: absolute;
			}

			.header__nav {
				margin: auto 0 auto 300px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}
