* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}

html {
}

body {
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: inherit;
	position: relative;
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  15px;
	padding-right: 15px;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
		padding-left:  20px;
		padding-right: 20px;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	color: #333;
	font-family: $font-head;
	line-height: 1.2;
}

h1, .h1 {
	color: #454545;
	font-weight: 700;
	font-size: 	1.875rem;
	line-height: 1.875rem;
	margin-bottom: 40px;
}

h2, .h2 {
	color: #000;
	font-weight: 700;
	padding-top: 10px;
	font-size: 	1.5625rem;
	line-height: 1.875rem;
	margin-bottom: 1.5625rem;
}

h3, .h3 {
	font-weight: 600;
	padding-top: 10px;
	font-size: 1.25rem;
	line-height: 1.5625rem;
	margin-bottom: 1.25rem;
}

h4, .h4 {
	color: #000;
	font-weight: 900;
	font-size: 0.8125rem;
	margin-bottom: 	1.25rem;
	text-transform: uppercase;

	a {
		text-decoration: underline;

		&:hover {
			color: #383155;
			text-decoration: none;
		}
	}
}

h5, .h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h6, .h6 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 1.5625rem 0;
}

a {
	outline: none;
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}

.list-base {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;

	> li {
		color: #666666;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;

		&:before {
			top: 9px;
			left: 3px;
			content: '';
			width: 12px;
			height: 1px;
			background: #ccc;
			position: absolute;
		}
	}
}

.list-point {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;

	> li {
		color: #666666;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;

		&:before {
			top: 7px;
			left: 0;
			content: '';
			width: 4px;
			height: 4px;
			background: #ccc;
			position: absolute;
			@include border-radius(50%);
		}
	}
}

.list-disk {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;

	> li {
		color: #666666;
		font-size: 15px;
		line-height: 20px;
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;

		&:before {
			top: 6px;
			left: 0;
			content: '';
			width: 6px;
			height: 6px;
			position: absolute;
			border: 1px solid #464061;
			@include border-radius(50%);
		}
	}
}

.views {
	color: #383155;
	font-size: 11px;
	font-weight: 600;
	line-height: 13px;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #383155;

	&:hover {
		color: #383155;
		border-bottom-color: transparent;
	}

	&:active {
		color: #000;
	}

}

.share {

	&__title {
		color: #000;
		padding: 10px 0;
		font-size: 15px;
		line-height: 20px;
		font-style: italic;
	}

	&__items {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;

		> li {
			margin-right: 5px;
			display: inline-block;

			&:last-child {
				margin-right: 0;
			}

			> a {
				width: 40px;
				height: 40px;
				padding: 10px 0;
				font-size: 18px;
				line-height: 18px;
				text-align: center;
				display: inline-block;
				text-decoration: none;
				border: 1px solid #d7dde7;
				@include border-radius(50%);
				@include transition(.3s);

				&:hover {
					background: #d6dce6;
					@include transition(.3s);
				}

				&:active {
					background: #c1cad9;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		@include justify-content(flex-end);

		&__title {
			margin: auto 20px auto 0;
		}
	}

}

blockquote {
	font-size: 15px;
	line-height: 25px;
	font-style: italic;
	padding: 0 0 0 30px;
	margin: 0 0 30px 0;
	border-left: 3px solid #383155;
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}