$body-bg:                       #fff;

// Fonts

$font-size-base:                1rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.5 !default;


$font-base:                     'Lato', Arial, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;

$color-base:                    #666;
$color-link:                    #383155 !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;

	// layout

$container-sm:                  620px !default;
$container-md:                  920px !default;
$container-lg:                  1220px !default;
$container-xl:                  1220px !default;


$gutter:                        40px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 768px !default;
$screen-md-min:                 992px !default;
$screen-lg-min:                 1250px !default;
$screen-xl-min:                 1250px !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
