.img-fluid {
	max-width: 100%;
	height: auto;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}