
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -8px 10px -8px;
	@include clearfix();

	> li {
		color: #aaa;
		float: left;
		font-size: 12px;
		line-height: 20px;
		padding: 0 8px 10px 8px;

		> a {
			color: #383155;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}