
.btn {
	color: #fff;
	font-size: 13px;
	font-weight: 900;
	line-height: 14px;
	padding: 13px 25px 11px 25px;
	outline: none;
	cursor: pointer;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #383155;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 1.95px;
	text-transform: uppercase;
	border: 1px solid #383155;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #554e72;
		border-color: #554e72;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #40395d;
		border-color: #40395d;
	}

	i {
		width: 19px;
		height: 12px;
		margin-top: 2px;
		margin-left: 25px;
		display: inline-block;
	}
}

.btn-md {
	padding: 17px 20px 13px 20px;
}

.btn-border {
	color: #383155;
	background: #fff;
	letter-spacing: 1.95px;
	border-color: #d6dce6;

	&:hover {
		color: #383155;
		background: #d6dce6;
		border-color: #d6dce6;
	}

	&:active {
		color: #383155;
		background: #c1cad9;
		border-color: #c1cad9;
	}
}

.btn-callback {
	color: #383155;
	outline: none;
	font-size: 10px;
	font-weight: 600;
	line-height: 14px;
	padding: 5px 10px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 0.55px;
	text-transform: uppercase;
	border: 1px solid #d6dce6;
	@include border-radius(3px);

	&:hover {
		color: #fff;
		background: #383155;
		border-color: #383155;
		text-decoration: none;
	}
}

.btn-send {
	text-align: left;
	position: relative;
	padding: 14px 20px 16px 20px;
	@include flexbox();
	@include justify-content(space-between);

	i {
		margin: 1px 0 0 0;

		.ico-svg {
			fill: #fff;
		}
	}
}

.btn-arrow {
	min-width: 220px;
	padding: 17px 20px 13px 20px;
	position: relative;
	text-align: left;
	@include flexbox();
	@include justify-content(space-between);

	i {
		margin-top: -2px;
	}
}

.button-group {
	padding: 0;
	margin: 10px -10px 0 -10px;
	list-style: none;

	> li {
		padding: 0 10px;
		margin-bottom: 20px;
	}

	@media (min-width: $screen-sm-min) {

		> li {
			float: left;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}