.form-control {
	margin: 0;
	width: 100%;
	color: #aaa;
	outline: none;
	font-size: 15px;
	line-height: 20px;
	padding: 14px 20px;
	display: inline-block;
	background: transparent;
	border: 1px solid #e5e5e5;
	@include placeholder(#aaa);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:hover {
		border-color: #d6dce6;
	}

	&:focus {
		color: #313131;
		background: #fff;
		border-color: #c1cad9;
		@include placeholder(transparent);
	}

	&.error {
		color: #da1308;
		border-color: #da1308;
	}
}

.form-select {
	margin: 0;
	width: 100%;
	color: #aaa;
	outline: none;
	font-size: 15px;
	line-height: 20px;
	padding: 14px 20px;
	display: inline-block;
	background: transparent url("../img/select_arrow.png") 100% 50% no-repeat;
	border: 1px solid #e5e5e5;
	@include placeholder(#aaa);
	@include border-radius(3px);

	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:hover {
		border-color: #d6dce6;
	}

	&:focus {
		color: #313131;
		border-color: #c1cad9;
		@include placeholder(transparent);
	}

}

.form-group {
	margin-bottom: 10px;
}


.input-wrap {
	position: relative;

	&.focus {

		.input-placeholder {
			opacity: 0;
			visibility: hidden;
		}
	}

	.input-placeholder {
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 5;
		width: 100%;
		color: #aaa;
		font-size: 15px;
		background: #fff;
		line-height: 20px;
		padding: 15px 21px;
		position: absolute;
		display: inline-block;

		i {
			color: #c10e0e;
			font-style: normal;
		}
	}

	input,
	select,
	textarea {
		z-index: 10;
		position: relative;
	}
}

.form-row {
	margin: 0 -5px;
	@include clearfix();

	.form-col {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
}

.file-label {
	color: #fff;
	font-size: 0;
	line-height: 0;
	padding: 17px 70px 13px 25px;
	outline: none;
	cursor: pointer;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #383155;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 1.95px;
	position: relative;
	text-transform: uppercase;
	border: 1px solid #383155;
	@include border-radius(3px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #554e72;
		border-color: #554e72;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: #40395d;
		border-color: #40395d;
	}

	input[type='file'] {
		display: none;
	}

	span {
		max-width: 161px;
		width: 161px;
		font-size: 13px;
		font-weight: 900;
		line-height: 14px;
		display: inline-block;
		overflow: hidden;
	}

	i {
		top: 15px;
		right: 18px;
		width: 16px;
		height: 18px;
		position: absolute;
		display: inline-block;
	}

	.ico-svg {
		fill: #fff;
	}

}